
.block-card, .block-panel, .brands {
    border: solid #c5d0d3;
    background-color: #fff;
}
.block-panel, .brands {
    border-width: 1px;
    margin: 0 auto .5em;
    padding: .5em;
    font-size: 1em;
    height: auto;
}
.left-panel .block-panel, .left-panel .brands {
    height: auto;
    font-size: .9em;
}/*
#article-left-column, #left-column {
    margin-bottom: 0;
}
#all-brands li a, #brand-icons li a, #left-download-app a, #left-paris-2016 a {
    display: block;
    height: 100%
}
#all-brands li, #brand-icons li {
    float: left;
    width: calc(100% / 4);
    background-position: center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
#all-brands li {
    width: calc(100% / 8);
    display: block!important;
}

#all-brands li#car-brand-acura, #brand-icons li#car-brand-acura {
    background-image: url(../images/icons/brand-icon-acura.svg);
}
#all-brands li#car-brand-acura.brand-active, #all-brands li#car-brand-acura:hover, #brand-icons li#car-brand-acura.brand-active, #brand-icons li#car-brand-acura:hover {
    background-image: url(../images/icons/brand-icon-acura-solid.svg);
}
#all-brands li#car-brand-alpina, #brand-icons li#car-brand-alpina {
    background-image: url(../images/icons/brand-icon-alpina.svg);
}
#all-brands li#car-brand-alpina.brand-active, #all-brands li#car-brand-alpina:hover, #brand-icons li#car-brand-alpina.brand-active, #brand-icons li#car-brand-alpina:hover {
    background-image: url(../images/icons/brand-icon-alpina-solid.svg);
}
-----------------------------
#all-brands li#car-brand-audi, #brand-icons li#car-brand-audi {
    background-image: url(brand-icon-audi.svg);
}
#all-brands li#car-brand-audi.brand-active, #all-brands li#car-brand-audi:hover, #brand-icons li#car-brand-audi.brand-active, #brand-icons li#car-brand-audi:hover {
    background-image: url(brand-icon-audi-solid.svg);
}
#all-brands li#car-brand-bmw, #brand-icons li#car-brand-bmw {
    background-image: url(brand-icon-bmw.svg);
}
#all-brands li#car-brand-bmw.brand-active, #all-brands li#car-brand-bmw:hover, #brand-icons li#car-brand-bmw.brand-active, #brand-icons li#car-brand-bmw:hover {
    background-image: url(brand-icon-bmw-solid.svg);
}
------------------------------
#all-brands li#car-brand-bugatti, #brand-icons li#car-brand-bugatti {
    background-image: url(../images/icons/brand-icon-bugatti.svg);
}
#all-brands li#car-brand-bugatti.brand-active, #all-brands li#car-brand-bugatti:hover, #brand-icons li#car-brand-bugatti.brand-active, #brand-icons li#car-brand-bugatti:hover {
    background-image: url(../images/icons/brand-icon-bugatti-solid.svg);
}
#all-brands li#car-brand-buick, #brand-icons li#car-brand-buick {
    background-image: url(../images/icons/brand-icon-buick.svg);
}
#all-brands li#car-brand-buick.brand-active, #all-brands li#car-brand-buick:hover, #brand-icons li#car-brand-buick.brand-active, #brand-icons li#car-brand-buick:hover {
    background-image: url(../images/icons/brand-icon-buick-solid.svg);
}
#all-brands li#car-brand-caterham, #brand-icons li#car-brand-caterham {
    background-image: url(../images/icons/brand-icon-caterham.svg);
}
#all-brands li#car-brand-caterham.brand-active, #all-brands li#car-brand-caterham:hover, #brand-icons li#car-brand-caterham.brand-active, #brand-icons li#car-brand-caterham:hover {
    background-image: url(../images/icons/brand-icon-caterham-solid.svg);
}
#all-brands li#car-brand-chevrolet, #brand-icons li#car-brand-chevrolet {
    background-image: url(../images/icons/brand-icon-chevrolet.svg);
}
#all-brands li#car-brand-chevrolet.brand-active, #all-brands li#car-brand-chevrolet:hover, #brand-icons li#car-brand-chevrolet.brand-active, #brand-icons li#car-brand-chevrolet:hover {
    background-image: url(../images/icons/brand-icon-chevrolet-solid.svg);
}
#all-brands li#car-brand-chrysler, #brand-icons li#car-brand-chrysler {
    background-image: url(../images/icons/brand-icon-chrysler.svg);
}
#all-brands li#car-brand-chrysler.brand-active, #all-brands li#car-brand-chrysler:hover, #brand-icons li#car-brand-chrysler.brand-active, #brand-icons li#car-brand-chrysler:hover {
    background-image: url(../images/icons/brand-icon-chrysler-solid.svg);
}
#all-brands li#car-brand-dodge, #brand-icons li#car-brand-dodge {
    background-image: url(../images/icons/brand-icon-dodge.svg);
}
#all-brands li#car-brand-dodge.brand-active, #all-brands li#car-brand-dodge:hover, #brand-icons li#car-brand-dodge.brand-active, #brand-icons li#car-brand-dodge:hover {
    background-image: url(../images/icons/brand-icon-dodge-solid.svg);
}
#all-brands li#car-brand-ds, #brand-icons li#car-brand-ds {
    background-image: url(../images/icons/brand-icon-ds.svg);
}
#all-brands li#car-brand-ds.brand-active, #all-brands li#car-brand-ds:hover, #brand-icons li#car-brand-ds.brand-active, #brand-icons li#car-brand-ds:hover {
    background-image: url(../images/icons/brand-icon-ds-solid.svg);
}
#all-brands li#car-brand-ford, #brand-icons li#car-brand-ford {
    background-image: url(../images/icons/brand-icon-ford.svg);
}
#all-brands li#car-brand-ford.brand-active, #all-brands li#car-brand-ford:hover, #brand-icons li#car-brand-ford.brand-active, #brand-icons li#car-brand-ford:hover {
    background-image: url(../images/icons/brand-icon-ford-solid.svg);
}
#all-brands li#car-brand-geely, #brand-icons li#car-brand-geely {
    background-image: url(../images/icons/brand-icon-geely.svg);
}
#all-brands li#car-brand-geely.brand-active, #all-brands li#car-brand-geely:hover, #brand-icons li#car-brand-geely.brand-active, #brand-icons li#car-brand-geely:hover {
    background-image: url(../images/icons/brand-icon-geely-solid.svg);
}
#all-brands li#car-brand-honda, #brand-icons li#car-brand-honda {
    background-image: url(../images/icons/brand-icon-honda.svg);
}
#all-brands li#car-brand-honda.brand-active, #all-brands li#car-brand-honda:hover, #brand-icons li#car-brand-honda.brand-active, #brand-icons li#car-brand-honda:hover {
    background-image: url(../images/icons/brand-icon-honda-solid.svg);
}
#all-brands li#car-brand-hyundai, #brand-icons li#car-brand-hyundai {
    background-image: url(../images/icons/brand-icon-hyundai.svg);
}
#all-brands li#car-brand-hyundai.brand-active, #all-brands li#car-brand-hyundai:hover, #brand-icons li#car-brand-hyundai.brand-active, #brand-icons li#car-brand-hyundai:hover {
    background-image: url(../images/icons/brand-icon-hyundai-solid.svg);
}
#all-brands li#car-brand-isuzu, #brand-icons li#car-brand-isuzu {
    background-image: url(../images/icons/brand-icon-isuzu.svg);
}
#all-brands li#car-brand-isuzu.brand-active, #all-brands li#car-brand-isuzu:hover, #brand-icons li#car-brand-isuzu.brand-active, #brand-icons li#car-brand-isuzu:hover {
    background-image: url(../images/icons/brand-icon-isuzu-solid.svg);
}
#all-brands li#car-brand-jeep, #brand-icons li#car-brand-jeep {
    background-image: url(../images/icons/brand-icon-jeep.svg);
}
#all-brands li#car-brand-jeep.brand-active, #all-brands li#car-brand-jeep:hover, #brand-icons li#car-brand-jeep.brand-active, #brand-icons li#car-brand-jeep:hover {
    background-image: url(../images/icons/brand-icon-jeep-solid.svg);
}
#all-brands li#car-brand-kia, #brand-icons li#car-brand-kia {
    background-image: url(../images/icons/brand-icon-kia.svg);
}
#all-brands li#car-brand-kia.brand-active, #all-brands li#car-brand-kia:hover, #brand-icons li#car-brand-kia.brand-active, #brand-icons li#car-brand-kia:hover {
    background-image: url(../images/icons/brand-icon-kia-solid.svg);
}
#all-brands li#car-brand-lada, #brand-icons li#car-brand-lada {
    background-image: url(../images/icons/brand-icon-lada.svg);
}
#all-brands li#car-brand-lada.brand-active, #all-brands li#car-brand-lada:hover, #brand-icons li#car-brand-lada.brand-active, #brand-icons li#car-brand-lada:hover {
    background-image: url(../images/icons/brand-icon-lada-solid.svg);
}
#all-brands li#car-brand-lexus, #brand-icons li#car-brand-lexus {
    background-image: url(../images/icons/brand-icon-lexus.svg);
}
#all-brands li#car-brand-lexus.brand-active, #all-brands li#car-brand-lexus:hover, #brand-icons li#car-brand-lexus.brand-active, #brand-icons li#car-brand-lexus:hover {
    background-image: url(../images/icons/brand-icon-lexus-solid.svg);
}
#all-brands li#car-brand-mazda, #brand-icons li#car-brand-mazda {
    background-image: url(../images/icons/brand-icon-mazda.svg);
}
#all-brands li#car-brand-mazda.brand-active, #all-brands li#car-brand-mazda:hover, #brand-icons li#car-brand-mazda.brand-active, #brand-icons li#car-brand-mazda:hover {
    background-image: url(../images/icons/brand-icon-mazda-solid.svg);
}
#all-brands li#car-brand-mclaren, #brand-icons li#car-brand-mclaren {
    background-image: url(../images/icons/brand-icon-mclaren.svg);
}
#all-brands li#car-brand-mclaren.brand-active, #all-brands li#car-brand-mclaren:hover, #brand-icons li#car-brand-mclaren.brand-active, #brand-icons li#car-brand-mclaren:hover {
    background-image: url(../images/icons/brand-icon-mclaren-solid.svg);
}
#all-brands li#car-brand-mercedes, #brand-icons li#car-brand-mercedes {
    background-image: url(../images/icons/brand-icon-mercedes.svg);
}
#all-brands li#car-brand-mercedes.brand-active, #all-brands li#car-brand-mercedes:hover, #brand-icons li#car-brand-mercedes.brand-active, #brand-icons li#car-brand-mercedes:hover {
    background-image: url(../images/icons/brand-icon-mercedes-solid.svg);
}
#all-brands li#car-brand-nissan, #brand-icons li#car-brand-nissan {
    background-image: url(../images/icons/brand-icon-nissan.svg);
}
#all-brands li#car-brand-nissan.brand-active, #all-brands li#car-brand-nissan:hover, #brand-icons li#car-brand-nissan.brand-active, #brand-icons li#car-brand-nissan:hover {
    background-image: url(../images/icons/brand-icon-nissan-solid.svg);
}
#all-brands li#car-brand-skoda, #brand-icons li#car-brand-skoda {
    background-image: url(../images/icons/brand-icon-skoda.svg);
}
#all-brands li#car-brand-skoda.brand-active, #all-brands li#car-brand-skoda:hover, #brand-icons li#car-brand-skoda.brand-active, #brand-icons li#car-brand-skoda:hover {
    background-image: url(../images/icons/brand-icon-skoda-solid.svg);
}
#all-brands li#car-brand-subaru, #brand-icons li#car-brand-subaru {
    background-image: url(../images/icons/brand-icon-subaru.svg);
}
#all-brands li#car-brand-subaru.brand-active, #all-brands li#car-brand-subaru:hover, #brand-icons li#car-brand-subaru.brand-active, #brand-icons li#car-brand-subaru:hover {
    background-image: url(../images/icons/brand-icon-subaru-solid.svg);
}
#all-brands li#car-brand-toyota, #brand-icons li#car-brand-toyota {
    background-image: url(../images/icons/brand-icon-toyota.svg);
}
#all-brands li#car-brand-toyota.brand-active, #all-brands li#car-brand-toyota:hover, #brand-icons li#car-brand-toyota.brand-active, #brand-icons li#car-brand-toyota:hover {
    background-image: url(../images/icons/brand-icon-toyota-solid.svg);
}
#all-brands li#car-brand-vw, #brand-icons li#car-brand-vw {
    background-image: url(../images/icons/brand-icon-vw.svg);
}
#all-brands li#car-brand-vw.brand-active, #all-brands li#car-brand-vw:hover, #brand-icons li#car-brand-vw.brand-active, #brand-icons li#car-brand-vw:hover {
    background-image: url(../images/icons/brand-icon-vw-solid.svg);
}
#all-brands li#car-brand-abarth, #brand-icons li#car-brand-abarth {
    background-image: url(../images/icons/brand-icon-abarth.svg);
}
#all-brands li#car-brand-abarth.brand-active, #all-brands li#car-brand-abarth:hover, #brand-icons li#car-brand-abarth.brand-active, #brand-icons li#car-brand-abarth:hover {
    background-image: url(../images/icons/brand-icon-abarth-solid.svg);
}
#all-brands li#car-brand-alfa-romeo, #brand-icons li#car-brand-alfa-romeo {
    background-image: url(../images/icons/brand-icon-alfa-romeo.svg);
}
#all-brands li#car-brand-alfa-romeo.brand-active, #all-brands li#car-brand-alfa-romeo:hover, #brand-icons li#car-brand-alfa-romeo.brand-active, #brand-icons li#car-brand-alfa-romeo:hover {
    background-image: url(../images/icons/brand-icon-alfa-romeo-solid.svg);
}
#all-brands li#car-brand-aston-martin, #brand-icons li#car-brand-aston-martin {
    background-image: url(../images/icons/brand-icon-aston-martin.svg);
}
#all-brands li#car-brand-aston-martin.brand-active, #all-brands li#car-brand-aston-martin:hover, #brand-icons li#car-brand-aston-martin.brand-active, #brand-icons li#car-brand-aston-martin:hover {
    background-image: url(../images/icons/brand-icon-aston-martin-solid.svg);
}
#all-brands li#car-brand-bentley, #brand-icons li#car-brand-bentley {
    background-image: url(../images/icons/brand-icon-bentley.svg);
}
#all-brands li#car-brand-bentley.brand-active, #all-brands li#car-brand-bentley:hover, #brand-icons li#car-brand-bentley.brand-active, #brand-icons li#car-brand-bentley:hover {
    background-image: url(../images/icons/brand-icon-bentley-solid.svg);
}
#all-brands li#car-brand-cadillac, #brand-icons li#car-brand-cadillac {
    background-image: url(../images/icons/brand-icon-cadillac.svg);
}
#all-brands li#car-brand-cadillac.brand-active, #all-brands li#car-brand-cadillac:hover, #brand-icons li#car-brand-cadillac.brand-active, #brand-icons li#car-brand-cadillac:hover {
    background-image: url(../images/icons/brand-icon-cadillac-solid.svg);
}
#all-brands li#car-brand-citroen, #brand-icons li#car-brand-citroen {
    background-image: url(../images/icons/brand-icon-citroen.svg);
}
#all-brands li#car-brand-citroen.brand-active, #all-brands li#car-brand-citroen:hover, #brand-icons li#car-brand-citroen.brand-active, #brand-icons li#car-brand-citroen:hover {
    background-image: url(../images/icons/brand-icon-citroen-solid.svg);
}
#all-brands li#car-brand-dacia, #brand-icons li#car-brand-dacia {
    background-image: url(../images/icons/brand-icon-dacia.svg);
}
#all-brands li#car-brand-dacia.brand-active, #all-brands li#car-brand-dacia:hover, #brand-icons li#car-brand-dacia.brand-active, #brand-icons li#car-brand-dacia:hover {
    background-image: url(../images/icons/brand-icon-dacia-solid.svg);
}
#all-brands li#car-brand-ferrari, #brand-icons li#car-brand-ferrari {
    background-image: url(../images/icons/brand-icon-ferrari.svg);
}
#all-brands li#car-brand-ferrari.brand-active, #all-brands li#car-brand-ferrari:hover, #brand-icons li#car-brand-ferrari.brand-active, #brand-icons li#car-brand-ferrari:hover {
    background-image: url(../images/icons/brand-icon-ferrari-solid.svg);
}
#all-brands li#car-brand-fiat, #brand-icons li#car-brand-fiat {
    background-image: url(../images/icons/brand-icon-fiat.svg);
}
#all-brands li#car-brand-fiat.brand-active, #all-brands li#car-brand-fiat:hover, #brand-icons li#car-brand-fiat.brand-active, #brand-icons li#car-brand-fiat:hover {
    background-image: url(../images/icons/brand-icon-fiat-solid.svg);
}
#all-brands li#car-brand-fisker, #brand-icons li#car-brand-fisker {
    background-image: url(../images/icons/brand-icon-fisker.svg);
}
#all-brands li#car-brand-fisker.brand-active, #all-brands li#car-brand-fisker:hover, #brand-icons li#car-brand-fisker.brand-active, #brand-icons li#car-brand-fisker:hover {
    background-image: url(../images/icons/brand-icon-fisker-solid.svg);
}
#all-brands li#car-brand-infiniti, #brand-icons li#car-brand-infiniti {
    background-image: url(../images/icons/brand-icon-infiniti.svg);
}
#all-brands li#car-brand-infiniti.brand-active, #all-brands li#car-brand-infiniti:hover, #brand-icons li#car-brand-infiniti.brand-active, #brand-icons li#car-brand-infiniti:hover {
    background-image: url(../images/icons/brand-icon-infiniti-solid.svg);
}
#all-brands li#car-brand-jaguar, #brand-icons li#car-brand-jaguar {
    background-image: url(../images/icons/brand-icon-jaguar.svg);
}
#all-brands li#car-brand-jaguar.brand-active, #all-brands li#car-brand-jaguar:hover, #brand-icons li#car-brand-jaguar.brand-active, #brand-icons li#car-brand-jaguar:hover {
    background-image: url(../images/icons/brand-icon-jaguar-solid.svg);
}
#all-brands li#car-brand-lamborghini, #brand-icons li#car-brand-lamborghini {
    background-image: url(../images/icons/brand-icon-lamborghini.svg);
}
#all-brands li#car-brand-lamborghini.brand-active, #all-brands li#car-brand-lamborghini:hover, #brand-icons li#car-brand-lamborghini.brand-active, #brand-icons li#car-brand-lamborghini:hover {
    background-image: url(../images/icons/brand-icon-lamborghini-solid.svg);
}
#all-brands li#car-brand-lancia, #brand-icons li#car-brand-lancia {
    background-image: url(../images/icons/brand-icon-lancia.svg);
}
#all-brands li#car-brand-lancia.brand-active, #all-brands li#car-brand-lancia:hover, #brand-icons li#car-brand-lancia.brand-active, #brand-icons li#car-brand-lancia:hover {
    background-image: url(../images/icons/brand-icon-lancia-solid.svg);
}
#all-brands li#car-brand-land-rover, #brand-icons li#car-brand-land-rover {
    background-image: url(../images/icons/brand-icon-land-rover.svg);
}
#all-brands li#car-brand-land-rover.brand-active, #all-brands li#car-brand-land-rover:hover, #brand-icons li#car-brand-land-rover.brand-active, #brand-icons li#car-brand-land-rover:hover {
    background-image: url(../images/icons/brand-icon-land-rover-solid.svg);
}
#all-brands li#car-brand-lincoln, #brand-icons li#car-brand-lincoln {
    background-image: url(../images/icons/brand-icon-lincoln.svg);
}
#all-brands li#car-brand-lincoln.brand-active, #all-brands li#car-brand-lincoln:hover, #brand-icons li#car-brand-lincoln.brand-active, #brand-icons li#car-brand-lincoln:hover {
    background-image: url(../images/icons/brand-icon-lincoln-solid.svg);
}
#all-brands li#car-brand-maserati, #brand-icons li#car-brand-maserati {
    background-image: url(../images/icons/brand-icon-maserati.svg);
}
#all-brands li#car-brand-maserati.brand-active, #all-brands li#car-brand-maserati:hover, #brand-icons li#car-brand-maserati.brand-active, #brand-icons li#car-brand-maserati:hover {
    background-image: url(../images/icons/brand-icon-maserati-solid.svg);
}
#all-brands li#car-brand-lotus, #brand-icons li#car-brand-lotus {
    background-image: url(../images/icons/brand-icon-lotus.svg);
}
#all-brands li#car-brand-lotus.brand-active, #all-brands li#car-brand-lotus:hover, #brand-icons li#car-brand-lotus.brand-active, #brand-icons li#car-brand-lotus:hover {
    background-image: url(../images/icons/brand-icon-lotus-solid.svg);
}
#all-brands li#car-brand-mini, #brand-icons li#car-brand-mini {
    background-image: url(../images/icons/brand-icon-mini.svg);
}
#all-brands li#car-brand-mini.brand-active, #all-brands li#car-brand-mini:hover, #brand-icons li#car-brand-mini.brand-active, #brand-icons li#car-brand-mini:hover {
    background-image: url(../images/icons/brand-icon-mini-solid.svg);
}
#all-brands li#car-brand-mitsubishi, #brand-icons li#car-brand-mitsubishi {
    background-image: url(../images/icons/brand-icon-mitsubishi.svg);
}
#all-brands li#car-brand-mitsubishi.brand-active, #all-brands li#car-brand-mitsubishi:hover, #brand-icons li#car-brand-mitsubishi.brand-active, #brand-icons li#car-brand-mitsubishi:hover {
    background-image: url(../images/icons/brand-icon-mitsubishi-solid.svg);
}
#all-brands li#car-brand-opel, #brand-icons li#car-brand-opel {
    background-image: url(../images/icons/brand-icon-opel.svg);
}
#all-brands li#car-brand-opel.brand-active, #all-brands li#car-brand-opel:hover, #brand-icons li#car-brand-opel.brand-active, #brand-icons li#car-brand-opel:hover {
    background-image: url(../images/icons/brand-icon-opel-solid.svg);
}
#all-brands li#car-brand-peugeot, #brand-icons li#car-brand-peugeot {
    background-image: url(../images/icons/brand-icon-peugeot.svg);
}
#all-brands li#car-brand-peugeot.brand-active, #all-brands li#car-brand-peugeot:hover, #brand-icons li#car-brand-peugeot.brand-active, #brand-icons li#car-brand-peugeot:hover {
    background-image: url(../images/icons/brand-icon-peugeot-solid.svg);
}
#all-brands li#car-brand-pontiac, #brand-icons li#car-brand-pontiac {
    background-image: url(../images/icons/brand-icon-pontiac.svg);
}
#all-brands li#car-brand-pontiac.brand-active, #all-brands li#car-brand-pontiac:hover, #brand-icons li#car-brand-pontiac.brand-active, #brand-icons li#car-brand-pontiac:hover {
    background-image: url(../images/icons/brand-icon-pontiac-solid.svg);
}
#all-brands li#car-brand-porsche, #brand-icons li#car-brand-porsche {
    background-image: url(../images/icons/brand-icon-porsche.svg);
}
#all-brands li#car-brand-porsche.brand-active, #all-brands li#car-brand-porsche:hover, #brand-icons li#car-brand-porsche.brand-active, #brand-icons li#car-brand-porsche:hover {
    background-image: url(../images/icons/brand-icon-porsche-solid.svg);
}
#all-brands li#car-brand-ram, #brand-icons li#car-brand-ram {
    background-image: url(../images/icons/brand-icon-ram.svg);
}
#all-brands li#car-brand-ram.brand-active, #all-brands li#car-brand-ram:hover, #brand-icons li#car-brand-ram.brand-active, #brand-icons li#car-brand-ram:hover {
    background-image: url(../images/icons/brand-icon-ram-solid.svg);
}
#all-brands li#car-brand-renault, #brand-icons li#car-brand-renault {
    background-image: url(../images/icons/brand-icon-renault.svg);
}
#all-brands li#car-brand-renault.brand-active, #all-brands li#car-brand-renault:hover, #brand-icons li#car-brand-renault.brand-active, #brand-icons li#car-brand-renault:hover {
    background-image: url(../images/icons/brand-icon-renault-solid.svg);
}
#all-brands li#car-brand-rolls-royce, #brand-icons li#car-brand-rolls-royce {
    background-image: url(../images/icons/brand-icon-rolls-royce.svg);
}
#all-brands li#car-brand-rolls-royce.brand-active, #all-brands li#car-brand-rolls-royce:hover, #brand-icons li#car-brand-rolls-royce.brand-active, #brand-icons li#car-brand-rolls-royce:hover {
    background-image: url(../images/icons/brand-icon-rolls-royce-solid.svg);
}
#all-brands li#car-brand-scion, #brand-icons li#car-brand-scion {
    background-image: url(../images/icons/brand-icon-scion.svg);
}
#all-brands li#car-brand-scion.brand-active, #all-brands li#car-brand-scion:hover, #brand-icons li#car-brand-scion.brand-active, #brand-icons li#car-brand-scion:hover {
    background-image: url(../images/icons/brand-icon-scion-solid.svg);
}
#all-brands li#car-brand-seat, #brand-icons li#car-brand-seat {
    background-image: url(../images/icons/brand-icon-seat.svg);
}
#all-brands li#car-brand-seat.brand-active, #all-brands li#car-brand-seat:hover, #brand-icons li#car-brand-seat.brand-active, #brand-icons li#car-brand-seat:hover {
    background-image: url(../images/icons/brand-icon-seat-solid.svg);
}
#all-brands li#car-brand-smart, #brand-icons li#car-brand-smart {
    background-image: url(../images/icons/brand-icon-smart.svg);
}
#all-brands li#car-brand-smart.brand-active, #all-brands li#car-brand-smart:hover, #brand-icons li#car-brand-smart.brand-active, #brand-icons li#car-brand-smart:hover {
    background-image: url(../images/icons/brand-icon-smart-solid.svg);
}
#all-brands li#car-brand-ssangyong, #brand-icons li#car-brand-ssangyong {
    background-image: url(../images/icons/brand-icon-ssangyong.svg);
}
#all-brands li#car-brand-ssangyong.brand-active, #all-brands li#car-brand-ssangyong:hover, #brand-icons li#car-brand-ssangyong.brand-active, #brand-icons li#car-brand-ssangyong:hover {
    background-image: url(../images/icons/brand-icon-ssangyong-solid.svg);
}
#all-brands li#car-brand-suzuki, #brand-icons li#car-brand-suzuki {
    background-image: url(../images/icons/brand-icon-suzuki.svg);
}
#all-brands li#car-brand-suzuki.brand-active, #all-brands li#car-brand-suzuki:hover, #brand-icons li#car-brand-suzuki.brand-active, #brand-icons li#car-brand-suzuki:hover {
    background-image: url(../images/icons/brand-icon-suzuki-solid.svg);
}
#all-brands li#car-brand-tesla, #brand-icons li#car-brand-tesla {
    background-image: url(../images/icons/brand-icon-tesla.svg);
}
#all-brands li#car-brand-tesla.brand-active, #all-brands li#car-brand-tesla:hover, #brand-icons li#car-brand-tesla.brand-active, #brand-icons li#car-brand-tesla:hover {
    background-image: url(../images/icons/brand-icon-tesla-solid.svg);
}
#all-brands li#car-brand-vauxhall, #brand-icons li#car-brand-vauxhall {
    background-image: url(../images/icons/brand-icon-vauxhall.svg);
}
#all-brands li#car-brand-vauxhall.brand-active, #all-brands li#car-brand-vauxhall:hover, #brand-icons li#car-brand-vauxhall.brand-active, #brand-icons li#car-brand-vauxhall:hover {
    background-image: url(../images/icons/brand-icon-vauxhall-solid.svg);
}
#all-brands li#car-brand-volvo, #brand-icons li#car-brand-volvo {
    background-image: url(../images/icons/brand-icon-volvo.svg);
}
#all-brands li#car-brand-volvo.brand-active, #all-brands li#car-brand-volvo:hover, #brand-icons li#car-brand-volvo.brand-active, #brand-icons li#car-brand-volvo:hover {
    background-image: url(../images/icons/brand-icon-volvo-solid.svg);
}
#all-brands li#car-brand-gmc, #brand-icons li#car-brand-gmc {
    background-image: url(../images/icons/brand-icon-gmc.svg);
}
#all-brands li#car-brand-gmc.brand-active, #all-brands li#car-brand-gmc:hover, #brand-icons li#car-brand-gmc.brand-active, #brand-icons li#car-brand-gmc:hover {
    background-image: url(../images/icons/brand-icon-gmc-solid.svg);
}
#all-brands li#car-brand-aprilia, #brand-icons li#car-brand-aprilia {
    background-image: url(../images/icons/brand-icon-aprilia.svg);
}
#all-brands li#car-brand-aprilia.brand-active, #all-brands li#car-brand-aprilia:hover, #brand-icons li#car-brand-aprilia.brand-active, #brand-icons li#car-brand-aprilia:hover {
    background-image: url(../images/icons/brand-icon-aprilia-solid.svg);
}
#all-brands li#car-brand-beta, #brand-icons li#car-brand-beta {
    background-image: url(../images/icons/brand-icon-beta.svg);
}
#all-brands li#car-brand-beta.brand-active, #all-brands li#car-brand-beta:hover, #brand-icons li#car-brand-beta.brand-active, #brand-icons li#car-brand-beta:hover {
    background-image: url(../images/icons/brand-icon-beta-solid.svg);
}
#all-brands li#car-brand-bimota, #brand-icons li#car-brand-bimota {
    background-image: url(../images/icons/brand-icon-bimota.svg);
}
#all-brands li#car-brand-bimota.brand-active, #all-brands li#car-brand-bimota:hover, #brand-icons li#car-brand-bimota.brand-active, #brand-icons li#car-brand-bimota:hover {
    background-image: url(../images/icons/brand-icon-bimota-solid.svg);
}
#all-brands li#car-brand-bmw-motorrad, #brand-icons li#car-brand-bmw-motorrad {
    background-image: url(../images/icons/brand-icon-bmw-motorrad.svg);
}
#all-brands li#car-brand-bmw-motorrad.brand-active, #all-brands li#car-brand-bmw-motorrad:hover, #brand-icons li#car-brand-bmw-motorrad.brand-active, #brand-icons li#car-brand-bmw-motorrad:hover {
    background-image: url(../images/icons/brand-icon-bmw-motorrad-solid.svg);
}
#all-brands li#car-brand-bsa, #brand-icons li#car-brand-bsa {
    background-image: url(../images/icons/brand-icon-bsa.svg);
}
#all-brands li#car-brand-bsa.brand-active, #all-brands li#car-brand-bsa:hover, #brand-icons li#car-brand-bsa.brand-active, #brand-icons li#car-brand-bsa:hover {
    background-image: url(../images/icons/brand-icon-bsa-solid.svg);
}
#all-brands li#car-brand-buell, #brand-icons li#car-brand-buell {
    background-image: url(../images/icons/brand-icon-buell.svg);
}
#all-brands li#car-brand-buell.brand-active, #all-brands li#car-brand-buell:hover, #brand-icons li#car-brand-buell.brand-active, #brand-icons li#car-brand-buell:hover {
    background-image: url(../images/icons/brand-icon-buell-solid.svg);
}
#all-brands li#car-brand-cagiva, #brand-icons li#car-brand-cagiva {
    background-image: url(../images/icons/brand-icon-cagiva.svg);
}
#all-brands li#car-brand-cagiva.brand-active, #all-brands li#car-brand-cagiva:hover, #brand-icons li#car-brand-cagiva.brand-active, #brand-icons li#car-brand-cagiva:hover {
    background-image: url(../images/icons/brand-icon-cagiva-solid.svg);
}
#all-brands li#car-brand-can-am, #brand-icons li#car-brand-can-am {
    background-image: url(../images/icons/brand-icon-can-am.svg);
}
#all-brands li#car-brand-can-am.brand-active, #all-brands li#car-brand-can-am:hover, #brand-icons li#car-brand-can-am.brand-active, #brand-icons li#car-brand-can-am:hover {
    background-image: url(../images/icons/brand-icon-can-am-solid.svg);
}
#all-brands li#car-brand-ducati, #brand-icons li#car-brand-ducati {
    background-image: url(../images/icons/brand-icon-ducati.svg);
}
#all-brands li#car-brand-ducati.brand-active, #all-brands li#car-brand-ducati:hover, #brand-icons li#car-brand-ducati.brand-active, #brand-icons li#car-brand-ducati:hover {
    background-image: url(../images/icons/brand-icon-ducati-solid.svg);
}
#all-brands li#car-brand-harley-davidson, #brand-icons li#car-brand-harley-davidson {
    background-image: url(../images/icons/brand-icon-harley-davidson.svg);
}
#all-brands li#car-brand-harley-davidson.brand-active, #all-brands li#car-brand-harley-davidson:hover, #brand-icons li#car-brand-harley-davidson.brand-active, #brand-icons li#car-brand-harley-davidson:hover {
    background-image: url(../images/icons/brand-icon-harley-davidson-solid.svg);
}
#all-brands li#car-brand-honda-bikes, #brand-icons li#car-brand-honda-bikes {
    background-image: url(../images/icons/brand-icon-honda-bikes.svg);
}
#all-brands li#car-brand-honda-bikes.brand-active, #all-brands li#car-brand-honda-bikes:hover, #brand-icons li#car-brand-honda-bikes.brand-active, #brand-icons li#car-brand-honda-bikes:hover {
    background-image: url(../images/icons/brand-icon-honda-bikes-solid.svg);
}
#all-brands li#car-brand-husaberg, #brand-icons li#car-brand-husaberg {
    background-image: url(../images/icons/brand-icon-husaberg.svg);
}
#all-brands li#car-brand-husaberg.brand-active, #all-brands li#car-brand-husaberg:hover, #brand-icons li#car-brand-husaberg.brand-active, #brand-icons li#car-brand-husaberg:hover {
    background-image: url(../images/icons/brand-icon-husaberg-solid.svg);
}
#all-brands li#car-brand-husqvarna, #brand-icons li#car-brand-husqvarna {
    background-image: url(../images/icons/brand-icon-husqvarna.svg);
}
#all-brands li#car-brand-husqvarna.brand-active, #all-brands li#car-brand-husqvarna:hover, #brand-icons li#car-brand-husqvarna.brand-active, #brand-icons li#car-brand-husqvarna:hover {
    background-image: url(../images/icons/brand-icon-husqvarna-solid.svg);
}
#all-brands li#car-brand-indian, #brand-icons li#car-brand-indian {
    background-image: url(../images/icons/brand-icon-indian.svg);
}
#all-brands li#car-brand-indian.brand-active, #all-brands li#car-brand-indian:hover, #brand-icons li#car-brand-indian.brand-active, #brand-icons li#car-brand-indian:hover {
    background-image: url(../images/icons/brand-icon-indian-solid.svg);
}
#all-brands li#car-brand-jawa, #brand-icons li#car-brand-jawa {
    background-image: url(../images/icons/brand-icon-jawa.svg);
}
#all-brands li#car-brand-jawa.brand-active, #all-brands li#car-brand-jawa:hover, #brand-icons li#car-brand-jawa.brand-active, #brand-icons li#car-brand-jawa:hover {
    background-image: url(../images/icons/brand-icon-jawa-solid.svg);
}
#all-brands li#car-brand-kawasaki, #brand-icons li#car-brand-kawasaki {
    background-image: url(../images/icons/brand-icon-kawasaki.svg);
}
#all-brands li#car-brand-kawasaki.brand-active, #all-brands li#car-brand-kawasaki:hover, #brand-icons li#car-brand-kawasaki.brand-active, #brand-icons li#car-brand-kawasaki:hover {
    background-image: url(../images/icons/brand-icon-kawasaki-solid.svg);
}
#all-brands li#car-brand-ktm-bikes, #brand-icons li#car-brand-ktm-bikes {
    background-image: url(../images/icons/brand-icon-ktm-bikes.svg);
}
#all-brands li#car-brand-ktm-bikes.brand-active, #all-brands li#car-brand-ktm-bikes:hover, #brand-icons li#car-brand-ktm-bikes.brand-active, #brand-icons li#car-brand-ktm-bikes:hover {
    background-image: url(../images/icons/brand-icon-ktm-bikes-solid.svg);
}
#all-brands li#car-brand-kymco, #brand-icons li#car-brand-kymco {
    background-image: url(../images/icons/brand-icon-kymco.svg);
}
#all-brands li#car-brand-kymco.brand-active, #all-brands li#car-brand-kymco:hover, #brand-icons li#car-brand-kymco.brand-active, #brand-icons li#car-brand-kymco:hover {
    background-image: url(../images/icons/brand-icon-kymco-solid.svg);
}
#all-brands li#car-brand-moto-guzzi, #brand-icons li#car-brand-moto-guzzi {
    background-image: url(../images/icons/brand-icon-moto-guzzi.svg);
}
#all-brands li#car-brand-moto-guzzi.brand-active, #all-brands li#car-brand-moto-guzzi:hover, #brand-icons li#car-brand-moto-guzzi.brand-active, #brand-icons li#car-brand-moto-guzzi:hover {
    background-image: url(../images/icons/brand-icon-moto-guzzi-solid.svg);
}
#all-brands li#car-brand-mv-agusta, #brand-icons li#car-brand-mv-agusta {
    background-image: url(../images/icons/brand-icon-mv-agusta.svg);
}
#all-brands li#car-brand-mv-agusta.brand-active, #all-brands li#car-brand-mv-agusta:hover, #brand-icons li#car-brand-mv-agusta.brand-active, #brand-icons li#car-brand-mv-agusta:hover {
    background-image: url(../images/icons/brand-icon-mv-agusta-solid.svg);
}
#all-brands li#car-brand-norton, #brand-icons li#car-brand-norton {
    background-image: url(../images/icons/brand-icon-norton.svg);
}
#all-brands li#car-brand-norton.brand-active, #all-brands li#car-brand-norton:hover, #brand-icons li#car-brand-norton.brand-active, #brand-icons li#car-brand-norton:hover {
    background-image: url(../images/icons/brand-icon-norton-solid.svg);
}
#all-brands li#car-brand-piaggio, #brand-icons li#car-brand-piaggio {
    background-image: url(../images/icons/brand-icon-piaggio.svg);
}
#all-brands li#car-brand-piaggio.brand-active, #all-brands li#car-brand-piaggio:hover, #brand-icons li#car-brand-piaggio.brand-active, #brand-icons li#car-brand-piaggio:hover {
    background-image: url(../images/icons/brand-icon-piaggio-solid.svg);
}
#all-brands li#car-brand-royal-enfield, #brand-icons li#car-brand-royal-enfield {
    background-image: url(../images/icons/brand-icon-royal-enfield.svg);
}
#all-brands li#car-brand-royal-enfield.brand-active, #all-brands li#car-brand-royal-enfield:hover, #brand-icons li#car-brand-royal-enfield.brand-active, #brand-icons li#car-brand-royal-enfield:hover {
    background-image: url(../images/icons/brand-icon-royal-enfield-solid.svg);
}
#all-brands li#car-brand-suzuki-bikes, #brand-icons li#car-brand-suzuki-bikes {
    background-image: url(../images/icons/brand-icon-suzuki-bikes.svg);
}
#all-brands li#car-brand-suzuki-bikes.brand-active, #all-brands li#car-brand-suzuki-bikes:hover, #brand-icons li#car-brand-suzuki-bikes.brand-active, #brand-icons li#car-brand-suzuki-bikes:hover {
    background-image: url(../images/icons/brand-icon-suzuki-bikes-solid.svg);
}
#all-brands li#car-brand-triumph, #brand-icons li#car-brand-triumph {
    background-image: url(../images/icons/brand-icon-triumph.svg);
}
#all-brands li#car-brand-triumph.brand-active, #all-brands li#car-brand-triumph:hover, #brand-icons li#car-brand-triumph.brand-active, #brand-icons li#car-brand-triumph:hover {
    background-image: url(../images/icons/brand-icon-triumph-solid.svg);
}
#all-brands li#car-brand-ural, #brand-icons li#car-brand-ural {
    background-image: url(../images/icons/brand-icon-ural.svg);
}
#all-brands li#car-brand-ural.brand-active, #all-brands li#car-brand-ural:hover, #brand-icons li#car-brand-ural.brand-active, #brand-icons li#car-brand-ural:hover {
    background-image: url(../images/icons/brand-icon-ural-solid.svg);
}
#all-brands li#car-brand-vespa, #brand-icons li#car-brand-vespa {
    background-image: url(../images/icons/brand-icon-vespa.svg);
}
#all-brands li#car-brand-vespa.brand-active, #all-brands li#car-brand-vespa:hover, #brand-icons li#car-brand-vespa.brand-active, #brand-icons li#car-brand-vespa:hover {
    background-image: url(../images/icons/brand-icon-vespa-solid.svg);
}
#all-brands li#car-brand-victory, #brand-icons li#car-brand-victory {
    background-image: url(../images/icons/brand-icon-victory.svg);
}
#all-brands li#car-brand-victory.brand-active, #all-brands li#car-brand-victory:hover, #brand-icons li#car-brand-victory.brand-active, #brand-icons li#car-brand-victory:hover {
    background-image: url(../images/icons/brand-icon-victory-solid.svg);
}
#all-brands li#car-brand-yamaha, #brand-icons li#car-brand-yamaha {
    background-image: url(../images/icons/brand-icon-yamaha.svg);
}
#all-brands li#car-brand-yamaha.brand-active, #all-brands li#car-brand-yamaha:hover, #brand-icons li#car-brand-yamaha.brand-active, #brand-icons li#car-brand-yamaha:hover {
    background-image: url(../images/icons/brand-icon-yamaha-solid.svg);
}
#all-brands li#car-brand-astondoa, #brand-icons li#car-brand-astondoa {
    background-image: url(../images/icons/brand-icon-astondoa.svg);
}
#all-brands li#car-brand-astondoa.brand-active, #all-brands li#car-brand-astondoa:hover, #brand-icons li#car-brand-astondoa.brand-active, #brand-icons li#car-brand-astondoa:hover {
    background-image: url(../images/icons/brand-icon-astondoa-solid.svg);
}
#all-brands li#car-brand-baglietto, #brand-icons li#car-brand-baglietto {
    background-image: url(../images/icons/brand-icon-baglietto.svg);
}
#all-brands li#car-brand-baglietto.brand-active, #all-brands li#car-brand-baglietto:hover, #brand-icons li#car-brand-baglietto.brand-active, #brand-icons li#car-brand-baglietto:hover {
    background-image: url(../images/icons/brand-icon-baglietto-solid.svg);
}
#all-brands li#car-brand-blohm-voss, #brand-icons li#car-brand-blohm-voss {
    background-image: url(../images/icons/brand-icon-blohm-voss.svg);
}
#all-brands li#car-brand-blohm-voss.brand-active, #all-brands li#car-brand-blohm-voss:hover, #brand-icons li#car-brand-blohm-voss.brand-active, #brand-icons li#car-brand-blohm-voss:hover {
    background-image: url(../images/icons/brand-icon-blohm-voss-solid.svg);
}
#all-brands li#car-brand-codecasa, #brand-icons li#car-brand-codecasa {
    background-image: url(../images/icons/brand-icon-codecasa.svg);
}
#all-brands li#car-brand-codecasa.brand-active, #all-brands li#car-brand-codecasa:hover, #brand-icons li#car-brand-codecasa.brand-active, #brand-icons li#car-brand-codecasa:hover {
    background-image: url(../images/icons/brand-icon-codecasa-solid.svg);
}
#all-brands li#car-brand-feadship, #brand-icons li#car-brand-feadship {
    background-image: url(../images/icons/brand-icon-feadship.svg);
}
#all-brands li#car-brand-feadship.brand-active, #all-brands li#car-brand-feadship:hover, #brand-icons li#car-brand-feadship.brand-active, #brand-icons li#car-brand-feadship:hover {
    background-image: url(../images/icons/brand-icon-feadship-solid.svg);
}
#all-brands li#car-brand-ferretti, #brand-icons li#car-brand-ferretti {
    background-image: url(../images/icons/brand-icon-ferretti.svg);
}
#all-brands li#car-brand-ferretti.brand-active, #all-brands li#car-brand-ferretti:hover, #brand-icons li#car-brand-ferretti.brand-active, #brand-icons li#car-brand-ferretti:hover {
    background-image: url(../images/icons/brand-icon-ferretti-solid.svg);
}
#all-brands li#car-brand-lurssen, #brand-icons li#car-brand-lurssen {
    background-image: url(../images/icons/brand-icon-lurssen.svg);
}
#all-brands li#car-brand-lurssen.brand-active, #all-brands li#car-brand-lurssen:hover, #brand-icons li#car-brand-lurssen.brand-active, #brand-icons li#car-brand-lurssen:hover {
    background-image: url(../images/icons/brand-icon-lurssen-solid.svg);
}
#all-brands li#car-brand-oceanco, #brand-icons li#car-brand-oceanco {
    background-image: url(../images/icons/brand-icon-oceanco.svg);
}
#all-brands li#car-brand-oceanco.brand-active, #all-brands li#car-brand-oceanco:hover, #brand-icons li#car-brand-oceanco.brand-active, #brand-icons li#car-brand-oceanco:hover {
    background-image: url(../images/icons/brand-icon-oceanco-solid.svg);
}
#all-brands li#car-brand-pearl-yachts, #brand-icons li#car-brand-pearl-yachts {
    background-image: url(../images/icons/brand-icon-pearl-yachts.svg);
}
#all-brands li#car-brand-pearl-yachts.brand-active, #all-brands li#car-brand-pearl-yachts:hover, #brand-icons li#car-brand-pearl-yachts.brand-active, #brand-icons li#car-brand-pearl-yachts:hover {
    background-image: url(../images/icons/brand-icon-pearl-yachts-solid.svg);
}
#all-brands li#car-brand-palmer-johnson, #brand-icons li#car-brand-palmer-johnson {
    background-image: url(../images/icons/brand-icon-palmer-johnson.svg);
}
#all-brands li#car-brand-palmer-johnson.brand-active, #all-brands li#car-brand-palmer-johnson:hover, #brand-icons li#car-brand-palmer-johnson.brand-active, #brand-icons li#car-brand-palmer-johnson:hover {
    background-image: url(../images/icons/brand-icon-palmer-johnson-solid.svg);
}
#all-brands li#car-brand-princess, #brand-icons li#car-brand-princess {
    background-image: url(../images/icons/brand-icon-princess.svg);
}
#all-brands li#car-brand-princess.brand-active, #all-brands li#car-brand-princess:hover, #brand-icons li#car-brand-princess.brand-active, #brand-icons li#car-brand-princess:hover {
    background-image: url(../images/icons/brand-icon-princess-solid.svg);
}
#all-brands li#car-brand-riva, #brand-icons li#car-brand-riva {
    background-image: url(../images/icons/brand-icon-riva.svg);
}
#all-brands li#car-brand-riva.brand-active, #all-brands li#car-brand-riva:hover, #brand-icons li#car-brand-riva.brand-active, #brand-icons li#car-brand-riva:hover {
    background-image: url(../images/icons/brand-icon-riva-solid.svg);
}
#all-brands li#car-brand-sanlorenzo, #brand-icons li#car-brand-sanlorenzo {
    background-image: url(../images/icons/brand-icon-sanlorenzo.svg);
}
#all-brands li#car-brand-sanlorenzo.brand-active, #all-brands li#car-brand-sanlorenzo:hover, #brand-icons li#car-brand-sanlorenzo.brand-active, #brand-icons li#car-brand-sanlorenzo:hover {
    background-image: url(../images/icons/brand-icon-sanlorenzo-solid.svg);
}
#all-brands li#car-brand-silver-yachts, #brand-icons li#car-brand-silver-yachts {
    background-image: url(../images/icons/brand-icon-silver-yachts.svg);
}
#all-brands li#car-brand-silver-yachts.brand-active, #all-brands li#car-brand-silver-yachts:hover, #brand-icons li#car-brand-silver-yachts.brand-active, #brand-icons li#car-brand-silver-yachts:hover {
    background-image: url(../images/icons/brand-icon-silver-yachts-solid.svg);
}
#all-brands li#car-brand-sunseeker, #brand-icons li#car-brand-sunseeker {
    background-image: url(../images/icons/brand-icon-sunseeker.svg);
}
#all-brands li#car-brand-sunseeker.brand-active, #all-brands li#car-brand-sunseeker:hover, #brand-icons li#car-brand-sunseeker.brand-active, #brand-icons li#car-brand-sunseeker:hover {
    background-image: url(../images/icons/brand-icon-sunseeker-solid.svg);
}
#all-brands li#car-brand-wally, #brand-icons li#car-brand-wally {
    background-image: url(../images/icons/brand-icon-wally.svg);
}
#all-brands li#car-brand-wally.brand-active, #all-brands li#car-brand-wally:hover, #brand-icons li#car-brand-wally.brand-active, #brand-icons li#car-brand-wally:hover {
    background-image: url(../images/icons/brand-icon-wally-solid.svg);
}
#all-brands li#car-brand-range-rover, #brand-icons li#car-brand-range-rover {
    background-image: url(../images/icons/brand-icon-land-rover.svg);
}
#all-brands li#car-brand-range-rover.brand-active, #all-brands li#car-brand-range-rover:hover, #brand-icons li#car-brand-range-rover.brand-active, #brand-icons li#car-brand-range-rover:hover {
    background-image: url(../images/icons/brand-icon-land-rover-solid.svg);
}
#content-column, #left-column {
    padding-top: .5em;
}
#all-brands li, #brand-icons li {
    width: calc(100% / 4);
    display: block;
}
*/
#brand-icons {
    overflow: hidden;
}

a, body, div, img, li, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0!important;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    box-sizing: border-box;
}


ul {
    list-style: none;
}
body, html {
    min-height: 100%;
    min-height: 100vh;
    position: relative;
}
body {
    background-color: #f1f3f3!important;
    font-size: .9em;
}

#left-column {
    padding-top: .5em;
}
.block-panel {
    border: solid #c5d0d3;
    background-color: #fff;
}
.block-panel {
    border-width: 1px;
    margin: 0 auto .5em;
    padding: .5em;
    height: auto;
    font-size: .9em;
}
#brand-icons li a {
    display: block;
    height: 100%;
}
#brand-icons li {
    float: left;
    width: calc(100% / 4);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
}

/********************************************************** let's give it a try ****************************************************************
#all-brands li#car-brand-audi, #brand-icons li#car-brand-audi {
    background-image: url(brand-icon-audi.svg);
}
#all-brands li#car-brand-audi.brand-active, #all-brands li#car-brand-audi:hover, #brand-icons li#car-brand-audi.brand-active, #brand-icons li#car-brand-audi:hover {
    background-image: url(brand-icon-audi-solid.svg);
}
#brand-icons li#car-brand-audi {
    background-image: url(brand-icon-audi.svg);
}*/
#brand-icons li#car-brand-audi.brand-active, #brand-icons li#car-brand-audi:hover {
    background-image: url(brand-icon-audi-solid.svg);
}
#brand-icons li#car-brand-alfa.brand-active, #brand-icons li#car-brand-alfa:hover {
    background-image: url(brand-icon-alfa-romeo-solid.svg);
}
#brand-icons li#car-brand-aston.brand-active, #brand-icons li#car-brand-aston:hover {
    background-image: url(brand-icon-aston-martin-solid.svg);
}
#brand-icons li#car-brand-benz.brand-active, #brand-icons li#car-brand-benz:hover {
    background-image: url(brand-icon-benz-solid.svg);
}
#brand-icons li#car-brand-bugatti.brand-active, #brand-icons li#car-brand-bugatti:hover {
    background-image: url(brand-icon-bugatti-solid.svg);
}
#brand-icons li#car-brand-buick.brand-active, #brand-icons li#car-brand-buick:hover {
    background-image: url(brand-icon-buick-solid.svg);
}
#brand-icons li#car-brand-cady.brand-active, #brand-icons li#car-brand-cady:hover {
    background-image: url(brand-icon-cadillac-solid.svg);
}
#brand-icons li#car-brand-chevy.brand-active, #brand-icons li#car-brand-chevy:hover {
    background-image: url(brand-icon-chevrolet-solid.svg);
}
/*********************************************************
#all-brands li#car-brand-bmw, #brand-icons li#car-brand-bmw {
    background-image: url(brand-icon-bmw.svg);
}
#all-brands li#car-brand-bmw.brand-active, #all-brands li#car-brand-bmw:hover, #brand-icons li#car-brand-bmw.brand-active, #brand-icons li#car-brand-bmw:hover {
    background-image: url(brand-icon-bmw-solid.svg);
}*/