<div class="page-header">
	<ol class="brdcrmbs">
		<li>
			<a href="#!ww/main">Home</a>
		</li>
		<li class="active">
			News
		</li>
		<li>
			<a href="#!ww/brands">Car Specs</a>
		</li>
		<li>
			<a href="#!ww/car-files">Car Files</a>
		</li>
	</ol>
</div>

<div class="container">
	<div class="page-header">
		<div id="hdrLogo">
			<!--<img src="../../images/logo3.png" /> wrong for angular routing -->
			<img src="images/logo3.png" />
		</div>
		<p>
			Read the latest car news covered daily by our editorial team. Find out everything you need to know about the automotive world.
		</p>
	</div>
	<div class="news">
		
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/benz-velocipede"><img src="images/well/benz_spazierfahren_palatinat_well.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>World's First Production Car, The 1894 Benz Velocipede</h4></a>
				<hr />
				<h5>This is when things started getting really serious.</h5>
			</div>
		</div>
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/collectibles"><img src="images/well/grafic.png" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Collectible Car Market Getting Air Kicked Out of its Tires</h4></a>
				<hr />
				<h5>Things start going in reverse.</h5>
			</div>
		</div>
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/treasure"><img src="images/well/treasure.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Rusting Classics Worth 12MILLION Pounds Found in French Farm</h4></a>
				<hr />
				<h5>Ferrari and a rare Maserati are among dozens of rusting classic cars found on farm in western France.</h5>
			</div>
		</div>
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/expensive"><img src="images/well/Car-Auction.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Most Expensive &amp; Oldest Sold</h4></a>
				<hr />
				<h5>Let's browse this list of most expensive auctioned oldies.</h5>
			</div>
		</div>
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/armoured"><img src="images/well/Rolls-Royce_Armoured_Car_Bardia_1940.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Rolls Royce's Armoured Cars</h4></a>
				<hr />
				<h5>British used'em in WW1 and the first stages of WW2</h5>
			</div>
		</div>
		<div class="well well-sm col-md-10 col-xs-12 flex-container">
			<a href="#!ww/news/diesel"><img src="images/well/cummins-history-1935-first-diesel-powered-passenger-car-clessie-inside.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Diesel History</h4></a>
				<hr />
				<h5>It all began in the crazy 30s.</h5>
			</div>
		</div>
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/hybrid"><img src="images/well/Porsche-Semper-Vivus-06.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Porsche Hybrid Avant-la-lettre</h4></a>
				<hr />
				<h5> First prototypes were two-wheel drive, battery-powered electric vehicles with two front wheel hub-mounted motors.</h5>
			</div>
		</div>
	</div>
</div>