<div class="page-header">
	<ol class="brdcrmbs">
		<li>
			<a href="#!ww/main">Home</a>
		</li>
		<li>
			<a href="#!ww/news">News</a>
		</li>
		<li class="active">
			The Collectible Car Market
		</li>
	</ol>
</div>

<div>
	<img src="images/chart.png">
</div>

<div>
    <h2>Collectible Car Market Getting Air Kicked Out of its Tires</h2>
</div>

<p>
	By Julie Verhage
	September 22, 2016, 1:13 PM GMT+3

	Sean Gambino, a portfolio manager at Heron Bay Capital LLC, timed the market right.

	He bought his two classic cars — a 1986 BMW M6 and a 1986 Porsche 911 Cabriolet — in 2003 and 2008, respectively. That was just before prices for vintage vehicles such as Ferrari Spyders and MGs began to take off, with measures of interest in collectibles surging to record highs by mid-2015.

	Now, those same indicators suggest the market for classic cars may be turning, as specialists warn that the bubble-like prices show signs of deflating. While average auction prices were up in August versus last year, according to Hagerty data, the overall volume of sales is falling, stoking fears that high-end consumer spending may be softening.

	"I haven't tried to sell my cars, but I know what the market is if I were to sell them," Gambino said in an interview. By his estimates, he would still make a profit of 30 percent on the BMW and about 250 percent on the Porsche if he sold them today, illustrating the degree to which classic car values took off after 2009 — and how far they might have to fall now.

	The collectible car market has long been torn between enthusiasts who just love a good red from Maranello and those who see the vehicles as an investment opportunity. Softness in classic car prices will likely favor the former group, and squeeze out speculators who have been lured into the market by years of price increases.
</p>
<p>
	"The correction in collector-car prices and activity would affect a specific group of investors, while creating value opportunities for enthusiasts interested in vehicles, not investments," said Kevin Tynan, an analyst at Bloomberg Intelligence. "Weakness in the collector-car market may foretell a more defensive stance from luxury and discretionary consumers, as well as investors."
</p>
<p>
	He points to the Hagerty Expert Sentiment Index, which measures the confidence experts have in the classic car market on a scale of 1 to 100. The measure has dropped to five-year lows, with August's reading of 53.60 close to the sub-50 levels that would indicate a contraction in confidence.
</p>
<p>
	Meanwhile, a gauge of peer-to-peer sales in the market, known as the Hagerty Private Market Collector Car Activity Rating Index, just hit its lowest level since 2014. While the latest reading of 67.4 is still an expansion, it's far from the highs seen at the top of the market. 
</p>
<p>
	The Hagerty Collector Car Market Index, which gauges the overall health of the market, fell to 67.7 in August, marking its third consecutive monthly drop.
</p>
<p>
	Signs of softness in the classic car market come amid worries that demand for other luxury or collectible goods has been weakening. In the art world, pieces that sold for $100,000 as recently as 2013 are now selling for $20,000, and in real estate some developers are aiming at a lower end of the market by splitting luxury apartments into two. 

"I still think it is an indication that things are getting frothy at the high end — be it collector cars, art, jewelry, etc," Tynan said. 

However, there are some positive signs for the future of the classic car market. While sentiment has been falling for some time, Tynan noted that the recent stabilization could be pointing towards a bottom.

The sentiment index "shows the experts think the market has been overheated for a while," Tynan added. It's "interesting to see the index starting to level out — which will mean pricing has adjusted and there are some good values out there."

Gambino agrees. While he wouldn't say whether he'll be buying another vintage car anytime soon, he did say that prices are starting to look more appealing: "I think that it'll be more of a buyer's market in the next 15 to 18 months."
</p>

<h6>https://www.bloomberg.com/news/articles/2016-09-22/the-collectible-car-market-is-getting-the-air-kicked-out-of-its-tires</h6>