<div class="page-header">
	<ol class="brdcrmbs">
		<li>
			<a href="#!ww/main">Home</a>
		</li>
		<li>
			<a href="#!ww/news">News</a>
		</li>
		<li class="active">
			Diesel History
		</li>
	</ol>
</div>

<div>
    <img src="images/cummins-history-1935-first-diesel-powered-passenger-car-clessie-inside.jpg">
</div>
<h6>
	First Diesel Powered Passenger Car
</h6>

<div>
    <h2>Some Diesel History</h2>
</div>

<p>
	Charles Wallace Chapman at Perkins Engines at Peterborough, England, developed an engine, the high speed diesel engine, for automobiles; previously diesel engines were too large and heavy.

Production diesel car history started in 1933[3][4] with Citroën's Rosalie, which featured a diesel engine option (the 1,766 cc 11UD engine) in the Familiale (estate or station wagon) model.[5] The Mercedes-Benz 260D and the Hanomag Rekord were introduced in 1936.

Immediately after World War II, and throughout the 1950s and 1960s, diesel-powered cars began to gain limited popularity, particularly for commercial applications, such as ambulances, taxis, and station wagons used for delivery work. Most were conventional in design. Mercedes-Benz offered a continuous stream of diesel-powered taxis, beginning in 1949 with their 170D powered by the OM-636 engine. Later, in 1959 their OM-621 engine was introduced in the 180D. This 2.0 L engine produced 55 PS (40 kW) at 4,350 rpm. Beginning in 1959, Peugeot offered the 403D with their TMD-85 four-cylinder engine of 1.8 L and 48 PS (35 kW), followed in 1962 by the 404D with the same engine. In 1964, the 404D became available with the improved XD88 four-cylinder engine of 2.0 L and 60 PS (44 kW). Other cars available with diesel power during this era included the Austin A60 Cambridge, Isuzu Bellel, Fiat 1400-A, Standard Vanguard, Borgward Hansa, and a few others.

In 1967, Peugeot introduced the world's first compact, high-speed diesel car, the Peugeot 204BD. Its 1.3 L XL4D engine produces 46 PS (34 kW) at 5,000 rpm. Following the 1970s oil crisis (1973 and 1979), Volkswagen introduced their first diesel, the VW Golf, with a 1.5 L naturally aspirated indirect-injection engine which was a redesigned (dieselised) version of a gasoline engine. Mercedes-Benz tested turbodiesels in cars (e.g. by the Mercedes-Benz C111 experimental and record-setting vehicles) and the first production turbo diesel cars were, in 1978, the 3.0 5-cylinder 115 hp (86 kW) Mercedes 300 SD, available only in North America, and the Peugeot 604.

The biggest single step forward for mass-market diesel cars came in 1982 when PSA Peugeot Citroën introduced the XUD engine in the Peugeot 305, Peugeot 205 and Talbot Horizon. This was the class leading automotive diesel engine until the mid-1990s.[6] The first mass market turbo diesel was the XUD powered, 1988 Citroën BX and then the 1989 Peugeot 405, they gave power and refinement approaching petrol engine standards,[7] with the best chassis in their class. Diesel Car magazine said of the Citroën BX "We can think of no other car currently on sale in the UK that comes anywhere near approaching the BX Turbo's combination of performance, accommodation and economy".[8] These were the cars that started the diesel boom in Europe that has now hit 50% of the market in new car sales.
</p>
<p>
	As early as 1931, Clessie Cummins installed his diesel in the Cummins "Diesel Special" race car, hitting 162 km/h (101 mph) at Daytona and 138 km/h (86 mph) at the Indianapolis 500 race,[15] where Dave Evans became the first driver to complete the Indianapolis 500 without making a single pit stop, completing the full distance on the lead lap and finishing 13th, relying on torque and fuel efficiency to overcome weight and low peak power.[16]

In 1933, a 1925 Bentley with a Gardner 4LW engine was the first diesel-engine car to take part in the Monte Carlo Rally when it was driven by Lord Howard de Clifford. It was the leading British car and finished fifth overall.[17]
A 1950 "Cummins Diesel Special" Indianapolis 500 roadster.

In 1952, Fred Agabashian in a Cummins diesel won the pole at the Indianapolis 500 race with a turbocharged 6.6-liter diesel car,[18] setting a record for pole position lap speed, 222.108 km/h (138.012 mph).[16] Don Cummins and his chief engineer Neve Reiners recognized that the low center of gravity of the flat engine configuration (designed to lie beneath the floor of a bus) plus the power advantage gained by the novel use of Elliott turbocharging would be a winning combination.[19]

At the start, a slow pace lap (reportedly less than 150 km/h (93 mph)) apparently induced what is now referred to as "turbo lag" and badly hampered the throttle response of the Cummins Diesel. Although Agabashian found himself in eighth place before reaching the first turn, he moved up to fifth in a few laps and was running competitively (albeit well back in the field after a tire change) until the badly situated air intake of the car swallowed enough debris from the track to disable the turbocharger at lap 71; he finished 27th.[20]
</p>

<h6>https://en.wikipedia.org/wiki/History_of_the_diesel_car</h6>