<div class="page-header">
	<ol class="brdcrmbs">
		<li>
			<a href="#!ww/main">Home</a>
		</li>
		<li>
			<a href="#!ww/news">News</a>
		</li>
		<li class="active">
			Most Expensive & Oldest Sold
		</li>
	</ol>
</div>
<div class="allnewsImg">
	<img src="images/ExpensiveRolls.png">
</div>

<h6>before WW1</h6>

<div class="table">
	<table id="grid">
		<!--
		<colgroup>
		<col />
		<col />
		<col />
		<col style="width:110px" />
		<col style="width:120px" />
		<col style="width:130px" />
		</colgroup>
		-->
		<thead>
			<tr>
				<th data-field="date">Date</th>
				<th data-field="my">Model Year</th>
				<th data-field="model">Model</th>
				<th data-field="auctioneer">Auctioneer</th>
				<th data-field="location">Location</th>
				<th data-field="price">Original Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>December 3, 2007</td>
				<td>1904</td>
				<td>Rolls-Royce 10 hp Two-Seater</td>
				<td>Bonhams</td>
				<td>London, UK</td>
				<td>$ 7,254,290</td>
			</tr>
			<tr>
				<td>October 7, 2011</td>
				<td>1884</td>
				<td>De Dion, Bouton et Trepardoux Dos-a-Dos Steam Runabout "La Marquise"</td>
				<td>RM Auctions</td>
				<td>Hershey, PA, USA</td>
				<td>$ 4,620,000</td>
			</tr>
		</tbody>
	</table>
</div>

<h6>https://en.wikipedia.org/wiki/List_of_most_expensive_cars_sold_at_auction</h6>