<div class="page-header">
	<ol class="brdcrmbs">
		<li>
			<a href="#!ww/main">Home</a>
		</li>
		<li>
			<a href="#!ww/news">News</a>
		</li>
		<li class="active">
			Most Expensive & Oldest Sold
		</li>
	</ol>
</div>
<div class="allnewsImg">
	<img src="images/ExpensiveRolls.png">
</div>

<h6>before WW2</h6>

<div class="table">
	<table id="grid">
		<thead>
			<tr>
				<th data-field="date">Date</th>
				<th data-field="my">Model Year</th>
				<th data-field="model">Model</th>
				<th data-field="auctioneer">Auctioneer</th>
				<th data-field="location">Location</th>
				<th data-field="price">Original Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>August 20, 2016</td>
				<td>1939</td>
				<td>Alfa Romeo 8C 2900B Lungo Spider</td>
				<td>RM Sotheby's</td>
				<td>Monterey, CA, USA</td>
				<td>$ 19,800,000</td>
			</tr>
			<tr>
				<td>August 21, 2016</td>
				<td>1933</td>
				<td>Alfa Romeo 8C 2300 Monza</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, CA, USA</td>
				<td>$ 11,990,000</td>
			</tr>
			<tr>
				<td>August 19, 2012</td>
				<td>1936</td>
				<td>Mercedes Benz 540K Special Roadster</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, CA, USA</td>
				<td>$ 11,770,000</td>
			</tr>
			<tr>
				<td>August 21, 2016</td>
				<td>1932</td>
				<td>Bugatti Type 55</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, CA, USA</td>
				<td>$ 10,400,000</td>
			</tr>
			<tr>
				<td>August 21, 2011</td>
				<td>1931</td>
				<td>Duesenberg Model J Long-Wheelbase Coupe</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, CA, USA</td>
				<td>$ 10,340,000</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>$ ...</td>
			</tr>
			<tr>
				<td>December 3, 2007</td>
				<td>1904</td>
				<td>Rolls-Royce 10 hp Two-Seater</td>
				<td>Bonhams</td>
				<td>London, UK</td>
				<td>$ 7,254,290</td>
			</tr>
			<tr>
				<td>October 7, 2011</td>
				<td>1884</td>
				<td>De Dion, Bouton et Trepardoux Dos-a-Dos Steam Runabout "La Marquise"</td>
				<td>RM Auctions</td>
				<td>Hershey, PA, USA</td>
				<td>$ 4,620,000</td>
			</tr>
		</tbody>
	</table>
</div>

<h6>So, after analysing this table some conclusions can be drawn. Oldest, cheapest, most expensive, newest, brands ... </h6>

<h6>https://en.wikipedia.org/wiki/List_of_most_expensive_cars_sold_at_auction</h6>