<div class="page-header">
	<ol class="brdcrmbs">
		<li>
			<a href="#!ww/main">Home</a>
		</li>
		<li>
			<a href="#!ww/news">News</a>
		</li>
		<li class="active">
			Most Expensive & Oldest Sold
		</li>
	</ol>
</div>
<div class="allnewsImg">
	<img src="images/ExpensiveRolls.png">
</div>

<h4>Source</h4><h6>https://en.wikipedia.org/wiki/List_of_most_expensive_cars_sold_at_auction</h6>
<h6>Here only the ones before WW2 (the true classics)</h6>

<div class="table">
	<table id="grid">
		<thead>
			<tr>
				<th data-field="date">Date</th>
				<th data-field="my">Model Year</th>
				<th data-field="model">Model</th>
				<th data-field="auctioneer">Auctioneer</th>
				<th data-field="location">Location</th>
				<th data-field="price">Original Price</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>August 20, 2016</td>
				<td>1939</td>
				<td>Alfa Romeo 8C 2900B Lungo Spider</td>
				<td>RM Sotheby's</td>
				<td>Monterey, CA, USA</td>
				<td>$ 19,800,000</td>
			</tr>
			<tr>
				<td>August 21, 2016</td>
				<td>1933</td>
				<td>Alfa Romeo 8C 2300 Monza</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, CA, USA</td>
				<td>$ 11,990,000</td>
			</tr>
			<tr>
				<td>August 19, 2012</td>
				<td>1936</td>
				<td>Mercedes Benz 540K Special Roadster</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, CA, USA</td>
				<td>$ 11,770,000</td>
			</tr>
			<tr>
				<td>August 21, 2016</td>
				<td>1932</td>
				<td>Bugatti Type 55</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, CA, USA</td>
				<td>$ 10,400,000</td>
			</tr>
			<tr>
				<td>August 21, 2011</td>
				<td>1931</td>
				<td>Duesenberg Model J Long-Wheelbase Coupe</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, CA, USA</td>
				<td>$ 10,340,000</td>
			</tr>
			<tr>
				<td>January 29, 2016</td>
				<td>1937</td>
				<td>Mercedes-Benz 540K Special Roadster</td>
				<td>RM Sotheby's</td>
				<td>Scottsdale, Arizona, USA</td>
				<td>$ 9,900,000</td>
			</tr>
			<tr>
				<td>November 17, 1987</td>
				<td>1931</td>
				<td>Bugatti Royale Kellner Coupe</td>
				<td>Christie's</td>
				<td>London, UK</td>
				<td>$ 9,800,000</td>
			</tr>
			<tr>
				<td>March 10, 2016</td>
				<td>1937</td>
				<td>Bugatti Type 57SC Sports Tourer</td>
				<td>Bonhams</td>
				<td>Amelia Island, Florida, USA</td>
				<td>$ 9,753,000</td>
			</tr>
			<tr>
				<td>August 20, 2011</td>
				<td>1937</td>
				<td>Mercedes-Benz 540K Spezial Roadster</td>
				<td>RM Auctions</td>
				<td>Monterey, California, USA</td>
				<td>$ 9,680,000</td>
			</tr>
			<tr>
				<td>August 17, 2013</td>
				<td>1937</td>
				<td>Bugatti Type 57SC Atalante</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, California, USA</td>
				<td>$ 8,745,000</td>
			</tr>
			<tr>
				<td>October 31, 2007</td>
				<td>1937</td>
				<td>Mercedes-Benz 540K Special Roadster</td>
				<td>Sotheby's</td>
				<td>London, UK</td>
				<td>$ 8,745,000</td>
			</tr>
			<tr>
				<td>August 17, 2013</td>
				<td>1928</td>
				<td>Mercedes-Benz 680S Torpedo Roadster</td>
				<td>RM Auctions</td>
				<td>Monterey, California, USA</td>
				<td>$ 8,226,400</td>
			</tr>
			<tr>
				<td>August 17, 2008</td>
				<td>1937</td>
				<td>Bugatti Type 57SC Atalante Coupe</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, California, USA</td>
				<td>$ 7,920,000</td>
			</tr>
			<tr>
				<td>June 29, 2012</td>
				<td>1929</td>
				<td>4½-Litre Supercharged 'Blower' Bentley</td>
				<td>Bonhams</td>
				<td>Goodwood, Sussex, UK</td>
				<td>$ 7,906,745</td>
			</tr>
			<tr>
				<td>August 16, 2013</td>
				<td>1939</td>
				<td>Mercedes-Benz 540K Special Roadster</td>
				<td>RM Auctions</td>
				<td>Monterey, California, USA</td>
				<td>$ 7,480,000</td>
			</tr>
			<tr>
				<td>September 3, 2004</td>
				<td>1929</td>
				<td>Mercedes-Benz 38/250 SSK</td>
				<td>Bonhams</td>
				<td>Goodwood, Sussex, UK</td>
				<td>$ 7,443,070</td>
			</tr>
			<tr>
				<td>December 3, 2007</td>
				<td>1904</td>
				<td>Rolls-Royce 10 hp Two-Seater</td>
				<td>Bonhams</td>
				<td>London, UK</td>
				<td>$ 8,252,201</td>
			</tr>
			<tr>
				<td>November 21, 2013</td>
				<td>1938</td>
				<td>Talbot-Lago T150-C SS</td>
				<td>Sotheby's</td>
				<td>New York City, New York, USA</td>
				<td>$ 7,150,000</td>
			</tr>
			<tr>
				<td>August 15, 2010</td>
				<td>1933</td>
				<td>Alfa Romeo 8C 2300 Monza</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, California, USA</td>
				<td>$ 6,710,000</td>
			</tr>
			<tr>
				<td>March 8, 2014</td>
				<td>1939</td>
				<td>Delahaye 135 Competition Court Torpedo Roadster</td>
				<td>RM Auctions</td>
				<td>Amelia Island, Florida, USA</td>
				<td>$ 6,600,000</td>
			</tr>
			<tr>
				<td>June 15, 1986</td>
				<td>1931</td>
				<td>Bugatti Royale Berline de Voyager</td>
				<td>Kruse International</td>
				<td>Reno, Nevada, USA</td>
				<td>$ 6,500,000</td>
			</tr>
			<tr>
				<td>August 19, 2012</td>
				<td>1928</td>
				<td>Bentley 4½ Litre Le Mans Sports 'Bobtail'</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, California, USA</td>
				<td>$ 6,050,000</td>
			</tr>
			<tr>
				<td>August 17, 2012</td>
				<td>1939</td>
				<td>Horch 853A Special Roadster</td>
				<td>RM Auctions</td>
				<td>Monterey, California, USA</td>
				<td>$ 5,170,000</td>
			</tr>
			<tr>
				<td>July 23, 2004</td>
				<td>1930</td>
				<td>Bentley Speed Six Tourer</td>
				<td>Christie's</td>
				<td>Le Mans, Sarthe, France</td>
				<td>$ 5,109,665</td>
			</tr>
			<tr>
				<td>August 14, 2008</td>
				<td>1939</td>
				<td>Talbot-Lago T150C SS Teardrop coupe</td>
				<td>Bonhams</td>
				<td>Carmel, California, USA</td>
				<td>$ 4,847,000</td>
			</tr>
			<tr>
				<td>August 16, 2013</td>
				<td>1931</td>
				<td>Bentley 4½ Litre Supercharged Le Mans</td>
				<td>Bonhams</td>
				<td>Carmel, California, USA</td>
				<td>$ 4,647,500</td>
			</tr>
			<tr>
				<td>August 20, 2011</td>
				<td>1939</td>
				<td>Mercedes-Benz 540K Spezial Roadster</td>
				<td>RM Auctions</td>
				<td>Monterey, California, USA</td>
				<td>$ 4,620,000</td>
			</tr>
			<tr>
				<td>October 7, 2011</td>
				<td>1884</td>
				<td>De Dion, Bouton et Trepardoux Dos-a-Dos Steam Runabout "La Marquise"</td>
				<td>RM Auctions</td>
				<td>Hershey, PA, USA</td>
				<td>$ 4,620,000</td>
			</tr>
			<tr>
				<td>August 14, 2010</td>
				<td>1938</td>
				<td>Talbot-Lago T150C Lago Speciale Teardrop Coupe</td>
				<td>RM Auctions</td>
				<td>Monterey, California, USA</td>
				<td>$ 4,608,500</td>
			</tr>
			<tr>
				<td>August 19, 2007</td>
				<td>1931</td>
				<td>Bentley 4 Litre "The Green Hornet"</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, California, USA</td>
				<td>$ 4,510,500</td>
			</tr>
			<tr>
				<td>May 21, 2011</td>
				<td>1938</td>
				<td>Talbot-Lago T150C SS Teardrop Coupé</td>
				<td>RM Auctions</td>
				<td>Tivoli, Lazio, Italy</td>
				<td>$ 4,475,072</td>
			</tr>
			<tr>
				<td>June 26, 2015</td>
				<td>1935</td>
				<td>Aston Martin Ulster</td>
				<td>Bonhams</td>
				<td>Goodwood, West Sussex, UK</td>
				<td>$ 4,406,693</td>
			</tr>
			<tr>
				<td>May 15, 2004</td>
				<td>1935</td>
				<td>Duesenberg SJ Speedster "Mormon Meteor"</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, California, USA</td>
				<td>$ 4,455,000</td>
			</tr>
			<tr>
				<td>February 7, 2009</td>
				<td>1937</td>
				<td>Bugatti Type 57S Atalante</td>
				<td>Bonhams</td>
				<td>Paris, France</td>
				<td>$ 4,408,575</td>
			</tr>
			<tr>
				<td>August 16, 2009	</td>
				<td>1933</td>
				<td>Alfa Romeo 8C 2300 Castagna Drop Head Coupe</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, California, USA</td>
				<td>$ 4,180,000</td>
			</tr>
			<tr>
				<td>May 2, 2015</td>
				<td>1934</td>
				<td>Packard Twelve Individual Custom Stationary Coupe</td>
				<td>RM Auctions</td>
				<td>Fort Worth, Texas, USA</td>
				<td>$ 4,180,000</td>
			</tr>
			<tr>
				<td>August 28, 1999</td>
				<td>1937</td>
				<td>Alfa Romeo 8C 2900B Pinin Farina Cabriolet</td>
				<td>Christie's</td>
				<td>Monterey, California, USA</td>
				<td>$ 4,072,500</td>
			</tr>
			<tr>
				<td>August 15, 2015</td>
				<td>1931</td>
				<td>Bentley 4½-Litre Supercharged Torpedo</td>
				<td>RM Auctions</td>
				<td>Monterey, California, USA</td>
				<td>$ 4,015,000</td>
			</tr>
			<tr>
				<td>August 17, 2014</td>
				<td>1939</td>
				<td>Alfa Romeo Tipo 256 Cabriolet Sportivo</td>
				<td>Gooding & Company</td>
				<td>Pebble Beach, California, USA</td>
				<td>$ 4,000,000</td>
			</tr>
			<tr>
				<td>August 19, 2016</td>
				<td>1931</td>
				<td>Bugatti Type 51</td>
				<td>Bonhams</td>
				<td>Carmel, California, USA</td>
				<td>$ 4,000,000</td>
			</tr>
		</tbody>
	</table>
</div>

<h2>So, after analysing this table some conclusions can be drawn: Oldest, cheapest, most expensive, newest, brands ... </h2>
<ul>
	<li>The <span id="specialSpan">oldest</span> car ever sold was a <span>De Dion, Bouton et Trepardoux Dos-a-Dos Steam Runabout "La Marquise"</span>, built in <span>1884</span> </li>
	<img src="images/1884-dedion-bouton-35.jpg" class="img-thumbnail"/>
	<li>The <span id="specialSpan">cheapest</span> car were a 1939 <span>Alfa Romeo Tipo 256 Cabriolet Sportivo</span> and a 1931 <span>Bugatti Type 51</span> </li>
	<img src="images/1939-Alfa-Romeo-Tipo-256-4.jpg" class="img-thumbnail inl"/>
	<img src="images/bugatti t 51.jpg" class="img-thumbnail inl"/>
	<li>The <span id="specialSpan">most expensive</span> wheels ever auctioned was a <span>Alfa Romeo 8C 2900B Lungo Spider</span>, built in <span>1939</span> </li>
	<img src="images/39-alfa-romeo-8c-2900b-1.jpg" class="img-thumbnail"/>
	<li>The <span id="specialSpan">most common brand</span> auctioned was clearly <span>Mercedes-Benz 540K Special Roadster</span></li>
	<img src="images/vonKrieger540K_07_1200.jpg" class="img-thumbnail"/>
</ul>
