<div class="page-header">
	<ol class="brdcrmbs">
		<li>
			<a href="#!ww/main">Home</a>
		</li>
		<li>
			<a href="#!ww/news">News</a>
		</li>
		<li class="active">
			First Hybrid
		</li>
	</ol>
</div>

<div>
    <img src="images/porsche_hybrid.jpg">
</div>
<h6>
	First Hybrid
</h6>

<div>
    <h2>Porsche Hybrid Avant-la-lettre</h2>
</div>

<p>
	1665 – 1825
Between 1665 and 1680, Flemish Jesuit priest and astronomer Ferdinand Verbiest created plans for a miniature four-wheel unmanned steam “car” for Chinese Emperor Khang Hsi. In 1769, Frenchman Nicholas Cugnot built a steam-powered motor carriage capable of six miles per hour. In 1825, British inventor Goldsworthy Gurney built a steam car that successfully completed an 85 mile round-trip journey in ten hours time. (Steamers dominated the automotive landscape until the late 19th century.)
</p>
<p>
1839
Robert Anderson of Aberdeen, Scotland built the first electric vehicle.
</p>
<p>
1870
Sir David Salomon developed a car with a light electric motor and very heavy storage batteries. Driving speed and range were poor.
</p>
<p>
1886
Historical records indicate that an electric-powered taxicab, using a battery with 28 cells and a small electric motor, was introduced in England.
</p>
<p>
1888
Immisch & Company built a four-passenger carriage, powered by a one-horsepower motor and 24-cell battery, for the Sultan of the Ottoman Empire. In the same year, Magnus Volk in Brighton, England made a three-wheeled electric car.
</p>
<p>
1890 – 1910
Period of significant improvements in battery technology, specifically with development of the modern lead-acid battery by H. Tudor and nickel-iron battery by Edison and Junger.
</p>
<p>
1897
The London Electric Cab Company began regular service using cars designed by Walter Bersey. The Bersey Cab, which used a 40-cell battery and 3 horsepower electric motor, could be driven 50 miles between charges.
</p>
<p>
1897
The Pope Manufacturing Company of Hartford, Connecticut, built around 500 electric cars over a two-year period.
</p>
<p>
1898
The Austrian Dr. Ferdinand Porsche, at age 23, built his first car, the Lohner Electric Chaise. It was the world’s first front-wheel-drive. Porsche’s second car was a hybrid, using an internal combustion engine to spin a generator that provided power to electric motors located in the wheel hubs. On battery alone, the car could travel nearly 40 miles.
</p>
<p>
1898
The Electric Carriage and Wagon Company, of New York City, had a fleet of twelve sturdy and stylish electric cabs.
</p>
<p>
1899
The Pope Manufacturing Company merged with two smaller electric car companies to form the Electric Vehicle Company, the first large-scale operation in the American automobile industry. The company had assets of $200 million.
</p>
<p>
Two hybrids appeared at the Paris Salon.
</p>
<p>
1900
American car companies made 1,681 steam, 1,575 electric and 936 gasoline cars. In a poll conducted at the first National Automobile Show in New York City, patrons favored electric as their first choice, followed closely by steam.
</p>
<p>
1900
A Belgian carmaker, Pieper, introduced a 3-1/2 horsepower "voiturette" in which the small gasoline engine was mated to an electric motor under the seat. When the car was "cruising," its electric motor was in effect a generator, recharging the batteries. But when the car was climbing a grade, the electric motor, mounted coaxially with the gas engine, gave it a boost. The Pieper patents were used by a Belgium firm, Auto-Mixte, to build commercial vehicles from 1906 to 1912.
</p>
<p>
1902
A series-hybrid runabout competed against steam and gas-powered cars in a New York to Boston reliability test.
</p>
<p>
1904
The Electric Vehicle Company built 2000 taxicabs, trucks, and buses, and set up subsidiary cab and car rental companies from New York to Chicago. Smaller companies, representing approximately 57 auto plants, turned out about 4000 cars.
</p>
<p>
1904
Henry Ford overcame the challenges posed by gasoline-powered cars — noise, vibration, and odor — and began assembly-line production of low-priced, lightweight, gas-powered vehicles. Within a few years, the Electric Vehicle Company failed.
</p>
<p>
1905
An American engineer named H. Piper filed a patent for a petrol-electric hybrid vehicle. His idea was to use an electric motor to assist an internal-combustion engine, enabling it to achieve 25 mph.
</p>
<p>
1905
The Woods Interurban, an electric car that allowed long-distance drivers to swap the electric power unit for a two-cylinder gas engine (supposedly a fifteen-minute job), failed to get more than a handful of customers.
</p>
<p>
1910
Commercial built a hybrid truck which used a four-cylinder gas engine to power a generator, eliminating the need for both transmission and battery pack. This hybrid was built in Philadelphia until 1918.
</p>
<p>
1913
With the advent of the self-starter (making it easy for all drivers to start gas engines), steamers and electrics were almost completely wiped out. In this year, sales of electric cars dropped to 6,000 vehicles, while the Ford Model T sold 182,809 gasoline cars.
</p>
<p>
1916
Two prominent electric-vehicle makers — Baker of Cleveland and Woods of Chicago — offered hybrid cars. Woods claimed that their hybrid reached a top speed of 35 mph and achieved fuel efficiency of 48 mpg. The Woods Dual Power was more expensive and less powerful than its gasoline competition, and therefore sold poorly.
</p>
<p>
1920 – 1965
Dormant period for mass-produced electric and hybrid cars. So-called alternative cars became the province of backyard tinkerers and small-time entrepreneurs.
</p>

<h6>http://www.hybridcars.com/history-of-hybrid-vehicles/</h6>
<h6>http://www.cartalk.com/blogs/jim-motavalli/meet-worlds-first-hybrid-car-built-1896</h6>