<div class="page-header">
	<ol class="brdcrmbs">
		<li>
			<a href="#!ww/main">Home</a>
		</li>
		<li>
			<a href="#!ww/news">News</a>
		</li>
		<li class="active">
			Incredible Treasure Trove
		</li>
	</ol>
</div>

<div class="allnewsImg">
    <img src="images/farm_treasure_trove.jpg">
</div>

<h6 class="allnewsH6">
    The collection has sat dormant in makeshift corrugated iron shelters and outbuildings on the farm since the 1970s. Pictured: Facel Vega (left) and a Talbot-Lago (right).
</h6>

<div>
    <h2>Rusting Classics Worth £12MILLION Found in French Farm</h2>
</div>

<p>
	A £12million treasure trove of 60 rusting classic cars left languishing on a French farm for 50 years has gone up for auction.

The haul of motors, which includes dozens of vintage sports cars, was found gathering dust under piles of newspapers in garages and barns on a farm in western France.

Among the vehicles up for sale are a Ferrari once sat in by Jane Fonda and a Talbot-Lago previously owned by extravagant Egyptian King Farouk. 
</p>
<p>
	The cars were collected from the 1950s to the 1970s by entrepreneur Roger Baillon, who dreamt of restoring them to their former glory and displaying them in a museum. 

However, his plans were dashed as his business struggled, forcing Mr Baillon to sell about 50 of the vehicles.

Since then his collection has sat dormant in makeshift corrugated iron shelters and outbuildings on the farm. 

Mr Baillon died about 10 years ago and his son, Jacques, who inherited the collection, died last year.

Mr Baillon's grandchildren had no idea of the extent of the collection, calling in car specialists Matthieu Lamoure and Pierre Novikoff of auctioneers Artcurial Motorcars to estimate its value. 
</p>
<p>
	They found a 1956 Maserati A6G Gran Sports with coachwork by prominent designer Frua, one of just three in the world, which is estimated to sell for just under £1million.

But the auctioneers' greatest discovery was that of a 1961 Ferrari 250GT SWB California Spider with covered headlights, which was hidden beneath piles of newspapers.

The car was previously owned by French actors Gerard Blain and Alain Delon, who was photographed in it with Jane Fonda and Shirley MacLaine, and is expected to attract attention from Ferrari collectors with an estimate of £9.5million. 

Only 36 of the particular model of Ferrari were ever made, including the one in the barn and another bought by Chris Evans in 2008 for an estimated £5.5million. 
</p>
<p>
	John Collins, from Ferrari dealer Talacrest in Ascot, has spent the last 12 months trying to find the car, which hen thinks could sell for £10million.

He said: 'I have known about the car for years and I was gutted when I found out about three weeks ago that an auction house had got it.

'Apart from a few people, not many knew the Ferrari still existed. It is a phenomenal car and the best barn find in more than 20 years.

'I am sure it will go for an eight-figure sum and I will be one of several people looking to buy it. It is really great - people are going to be fighting over it.'

A Talbot-Lago T26 Cabriolet once owned by King Farouk of Egypt was also found. The Egyptian King's extravagant lifestyle included owning hundreds of prestigious cars.

While some of the cars are in a rusty and decrepit state, others have been well-preserved.

Mr Lamoure said: 'These sorts of finds do not happen often. I think you go into this profession for discoveries like this; it really is a treasure trove. No doubt a once-in-a-lifetime discovery.

'We speak about 'barn finds' as cars that are intact, that have remained untouched for years, and are found again.

'On entering the gates of this property, we had no idea what we would find. We had to go in through the gardens at the rear of the property, to get a first look. Across three hectares, we could see different makeshift structures. From there, we realised that this was something big.

'We realised that there were dozens of cars parked underneath. We soon realised that some of these had been put there 50 years earlier and left untouched.

'Wooden posts, between the cars, supported the fragile roofs. The sides were open to the elements. We still didn't realise exactly what we were faced with; the number of cars, the marques, their condition.

'When we discovered the extent of the collection we found ourselves overcome with emotion.

'Probably much like Lord Carnarvon and Howard Carter, on being the first person for centuries to enter Tutankhamun's tomb, it really was a case of waking up sleeping beauty.'
</p>
<p>
	Speaking of the rare Ferrari, Mr Lamoure added: 'Ferrari is a legendary name in the automobile world. And this car is unique. Only 37 examples of this model were built making it extremely rare.

'Every example has been carefully documented by historians and this one was thought to be lost. We have found it.'

Mr Novikoff said: 'I'm not sure I have ever seen so many exceptional cars together in one collection; Bugatti, Hispano-Suiza, Talbot-Lago, Panhard-Levassor, Maserati, Ferrari, Delahaye, Delage. Roger Baillon saved these cars and succeeded in his task - to trace the history of the automobile through the finest examples.

'A collection like this can't fail to arouse the passions of those who love automobiles, as well as art and history enthusiasts. Never again, anywhere in the world, will such a treasure be unearthed.'

The collection will be sold by Artcurial Motorcars in Paris on February 6 next year. 
</p>

<h6>http://www.dailymail.co.uk/news/article-2862095/Now-did-park-60-cars-Incredible-treasure-trove-rusting-classics-worth-12MILLION-languishing-French-farm-garage-50-years.html</h6>