<li id="car-brand-chevrolet">
	<a href="/ww/brand/chevrolet/current-models/de"></a>
</li>
<li id="car-brand-chrysler">
	<a href="/ww/brand/chrysler/current-models/de"></a>
</li>
<li id="car-brand-dodge">
	<a href="/ww/brand/dodge/current-models/de"></a>
</li>
<li id="car-brand-ford">
	<a href="/ww/brand/ford/current-models/de"></a>
</li>
<li id="car-brand-honda">
	<a href="/ww/brand/honda/current-models/de"></a>
</li>
<li id="car-brand-hyundai">
	<a href="/ww/brand/hyundai/current-models/de"></a>
</li>
<li id="car-brand-jeep">
	<a href="/ww/brand/jeep/current-models/de"></a>
</li>
<li id="car-brand-kia">
	<a href="/ww/brand/kia/current-models/de"></a>
</li>
<li id="car-brand-mazda">
	<a href="/ww/brand/mazda/current-models/de"></a>
</li>
<li id="car-brand-mercedes">
	<a href="/ww/brand/mercedes/current-models/de"></a>
</li>
<li id="car-brand-nissan">
	<a href="/ww/brand/nissan/current-models/de"></a>
</li>
<li id="car-brand-subaru">
	<a href="/ww/brand/subaru/current-models/de"></a>
</li>
<li id="car-brand-toyota">
	<a href="/ww/brand/toyota/current-models/de"></a>
</li>
<li id="car-brand-vw">
	<a href="/ww/brand/vw/current-models/de"></a>
</li>
