<!--
<div id="container">
<ul id="flex-container">
<li>
<iframe width="420%" height="315" src="https://www.youtube.com/embed/5D8Y4j0Rs_Y?html5=1"></iframe>
<iframe width="420%" height="315" src="https://www.youtube.com/embed/XsEbeCrPcA8?html5=1"></iframe>
<iframe width="420%" height="315" src="https://www.youtube.com/embed/Cv3LNNwSx6M?html5=1"></iframe>
<iframe width="420%" height="315" src="https://www.youtube.com/embed/E88I8lm6vNc?html5=1"></iframe>
</li></ul>
</div>
-->
<div id="container">
	<ul id="flex-container">
		<li>
			<div class="well well-sm col-lg-10 col-sm-12 flex-container">
				<a href="#!ww/news/benz-velocipede"><img src="images/well/benz_spazierfahren_palatinat_well.jpg" class="img-thumbnail" /></a>
				<div class="row-fluid inlnWell">
					<a href="#!ww/news/benz-velocipede"><h4>World's First Production Car, The 1894 Benz Velocipede</h4></a>
					<hr />
					<h5>This is when things started getting really serious.</h5>
				</div>
			</div>
		</li>
		<li>
			<iframe width="420%" height="315" src="https://www.youtube.com/embed/5D8Y4j0Rs_Y?html5=1"></iframe>
		</li>
		<!--
		<li>
			<iframe width="420%" height="315" src="https://www.youtube.com/embed/XsEbeCrPcA8?html5=1"></iframe>
			<iframe width="420%" height="315" src="https://www.youtube.com/embed/Cv3LNNwSx6M?html5=1"></iframe>
			<iframe width="420%" height="315" src="https://www.youtube.com/embed/E88I8lm6vNc?html5=1"></iframe>
		</li>
		-->
	</ul>
</div>
