<!--
<div id="container">
<ul id="flex-container">
<li>
<iframe width="420%" height="315" src="https://www.youtube.com/embed/5D8Y4j0Rs_Y?html5=1"></iframe>
<iframe width="420%" height="315" src="https://www.youtube.com/embed/XsEbeCrPcA8?html5=1"></iframe>
<iframe width="420%" height="315" src="https://www.youtube.com/embed/Cv3LNNwSx6M?html5=1"></iframe>
<iframe width="420%" height="315" src="https://www.youtube.com/embed/E88I8lm6vNc?html5=1"></iframe>
</li></ul>
</div>
-->
<div id="main_col">
	<div class="col-lg-9 col-lg-6 main_news">
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/benz-velocipede"><img src="images/well/benz_spazierfahren_palatinat_well.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>World's First Production Car, The 1894 Benz Velocipede</h4></a>
				<hr />
				<h5>This is when things started getting really serious.</h5>
			</div>
		</div>
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/treasure"><img src="images/well/treasure.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Rusting Classics Worth 12MILLION Pounds Found in French Farm</h4></a>
				<hr />
				<h5>Ferrari and a rare Maserati are among dozens of rusting classic cars found on farm in western France.</h5>
			</div>
		</div>
		<div class="well well-sm col-md-10 col-xs-12 flex-container">
			<a href="#!ww/news/diesel"><img src="images/well/cummins-history-1935-first-diesel-powered-passenger-car-clessie-inside.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Diesel History</h4></a>
				<hr />
				<h5>It all began in the crazy 30s.</h5>
			</div>
		</div>
		<div class="well well-sm col-lg-10 col-sm-12 flex-container">
			<a href="#!ww/news/hybrid"><img src="images/well/Porsche-Semper-Vivus-06.jpg" class="img-thumbnail" /></a>
			<div class="row-fluid inlnWell">
				<a href="#!ww/news/benz-velocipede"><h4>Porsche Hybrid Avant-la-lettre</h4></a>
				<hr />
				<h5> First prototypes were two-wheel drive, battery-powered electric vehicles with two front wheel hub-mounted motors.</h5>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-lg-6 main_vids">
		<iframe width="420" height="315" src="https://www.youtube.com/embed/5D8Y4j0Rs_Y?html5=1"></iframe>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/XsEbeCrPcA8?html5=1"></iframe>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/Cv3LNNwSx6M?html5=1"></iframe>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/E88I8lm6vNc?html5=1"></iframe>
	</div>
</div>
