<h1>Aquila Optima</h1>
<h2>Jupiter Pater Optimus</h2>
<!--
<div id="content-column" class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
	<div id="middle-column" class="all-blocks col-lg-8 col-md-12 col-sm-12 col-xs-12">
		<div class="full block-large main-subj-cars" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/Volkswagen-Arteon-Variant2-4820-default-large.jpeg');">
			<a href="/ww/news/vw-arteon-variant-made-real-via-rendering">
			<div class="block-text">
				<div class="block-heading">
					VW Arteon Variant Made Real via Rendering
				</div>
			</div> </a>
		</div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-7224066931192686" data-ad-slot="4238444051" data-ad-format="auto"></ins>
		<script>
			( adsbygoogle = window.adsbygoogle || []).push({});

		</script>
		<br/>
		<div class="full block-large main-subj-cars" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/2017-BMW-530d-xDrive-Luxury-Line-exterior-43-8838-default-large.jpeg');">
			<a href="/ww/testdrive/2017-bmw-530d-xdrive-luxury-line-test-drive-bavaria-strikes-back">
			<div class="block-text">
				<div class="block-heading">
					2017 BMW 530d xDrive Luxury Line Test Drive: Bavaria Strikes Back
				</div>
			</div> </a>
		</div>
		<div class="carousel fadein">
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/alpha-centauri-speedboat-16-9573-default-medium.jpeg');">
					<a href="https://boats.drivemag.com/ww/news/alpha-centauri-hydroplane-tender-looks-like-batman-s-personal-powerboat"></a>
				</div>
				<div class="block-heading">
					<a href="https://boats.drivemag.com/ww/news/alpha-centauri-hydroplane-tender-looks-like-batman-s-personal-powerboat"> Alpha Centauri Hydroplane Tender Looks Like Batman&#039;s Personal Powerboat </a>
				</div>
				<div class="block-caption">
					<a href="https://boats.drivemag.com/ww/news/alpha-centauri-hydroplane-tender-looks-like-batman-s-personal-powerboat"> Straight out of Gotham City </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/celebrity-edge-6047-default-medium.jpeg');">
					<a href="https://boats.drivemag.com/ww/news/celebrity-cruises-reveals-the-new-celebrity-edge-ship"></a>
				</div>
				<div class="block-heading">
					<a href="https://boats.drivemag.com/ww/news/celebrity-cruises-reveals-the-new-celebrity-edge-ship"> Celebrity Cruises Reveals the New Celebrity Edge Ship </a>
				</div>
				<div class="block-caption">
					<a href="https://boats.drivemag.com/ww/news/celebrity-cruises-reveals-the-new-celebrity-edge-ship"> She will be a stunner </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/VSY-003-3-5313-default-medium.jpeg');">
					<a href="https://boats.drivemag.com/ww/news/viareggio-superyachts-project-003-gets-darnet-design-interiors"></a>
				</div>
				<div class="block-heading">
					<a href="https://boats.drivemag.com/ww/news/viareggio-superyachts-project-003-gets-darnet-design-interiors"> Viareggio SuperYachts Project 003 Gets Darnet Design Interiors </a>
				</div>
				<div class="block-caption">
					<a href="https://boats.drivemag.com/ww/news/viareggio-superyachts-project-003-gets-darnet-design-interiors"> This superyacht will look good inside and out </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/otam-mystere-12-7995-default-medium.jpeg');">
					<a href="https://boats.drivemag.com/ww/news/otam-launches-the-fourth-powerboat-in-the-millennium-80-ht-series"></a>
				</div>
				<div class="block-heading">
					<a href="https://boats.drivemag.com/ww/news/otam-launches-the-fourth-powerboat-in-the-millennium-80-ht-series"> Otam Launches the Fourth Powerboat in the Millennium 80 HT Series </a>
				</div>
				<div class="block-caption">
					<a href="https://boats.drivemag.com/ww/news/otam-launches-the-fourth-powerboat-in-the-millennium-80-ht-series"> She is named &quot;Mystere&quot; </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/queen-mary-1-5724-default-medium.jpeg');">
					<a href="https://boats.drivemag.com/ww/news/the-golden-era-of-transatlantic-voyage-ep-2-queen-mary-the-classy-british-ocean-liner"></a>
				</div>
				<div class="block-heading">
					<a href="https://boats.drivemag.com/ww/news/the-golden-era-of-transatlantic-voyage-ep-2-queen-mary-the-classy-british-ocean-liner"> The Golden Era of Transatlantic Voyage - Ep. 2 Queen Mary, the Classy British Ocean Liner </a>
				</div>
				<div class="block-caption">
					<a href="https://boats.drivemag.com/ww/news/the-golden-era-of-transatlantic-voyage-ep-2-queen-mary-the-classy-british-ocean-liner"> The pride of the British Fleet of ocean liners </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/thumb_37175_default_medium.jpeg');">
					<a href="https://boats.drivemag.com/ww/news/ambitious-superyacht-concept-x-r-evolution-by-pastrovich-design-is-still-amazing"></a>
				</div>
				<div class="block-heading">
					<a href="https://boats.drivemag.com/ww/news/ambitious-superyacht-concept-x-r-evolution-by-pastrovich-design-is-still-amazing"> Ambitious Superyacht Concept X-R-Evolution by Pastrovich Design is Still Amazing </a>
				</div>
				<div class="block-caption">
					<a href="https://boats.drivemag.com/ww/news/ambitious-superyacht-concept-x-r-evolution-by-pastrovich-design-is-still-amazing"> The mothership concept </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/36/thumb_35353_default_medium.jpeg');">
					<a href="https://boats.drivemag.com/ww/news/the-golden-era-of-transatlantic-voyage-ep-1-ss-united-states-the-record-breaking-ocean-liner"></a>
				</div>
				<div class="block-heading">
					<a href="https://boats.drivemag.com/ww/news/the-golden-era-of-transatlantic-voyage-ep-1-ss-united-states-the-record-breaking-ocean-liner"> The Golden Era of Transatlantic Voyage: Ep. 1 SS United States - The Record-Breaking Ocean Liner </a>
				</div>
				<div class="block-caption">
					<a href="https://boats.drivemag.com/ww/news/the-golden-era-of-transatlantic-voyage-ep-1-ss-united-states-the-record-breaking-ocean-liner"> This was the last Transatlantic liner </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/thumb_37124_default_medium.jpeg');">
					<a href="https://boats.drivemag.com/ww/news/de-groot-design-presents-68m-concept-named-ren"></a>
				</div>
				<div class="block-heading">
					<a href="https://boats.drivemag.com/ww/news/de-groot-design-presents-68m-concept-named-ren"> De Groot Design Presents 68m Concept Named Rén </a>
				</div>
				<div class="block-caption">
					<a href="https://boats.drivemag.com/ww/news/de-groot-design-presents-68m-concept-named-ren"> One futuristic twin hull vessel </a>
				</div>
			</div>
		</div>
		<div class="full block-large main-subj-cars" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/Ferrari-Exhaust-Sounds1-7486-default-large.jpeg');">
			<a href="/ww/news/watch-and-listen-to-this-symphony-of-pure-ferrari-lambo-and-other-supercars-acceleration-sounds">
			<div class="block-text">
				<div class="block-heading">
					Watch and Listen to This Symphony of Pure Ferrari, Lambo and Other Supercars Acceleration Sounds
				</div>
			</div> </a>
		</div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-7224066931192686" data-ad-slot="4238444051" data-ad-format="auto"></ins>
		<script>
			( adsbygoogle = window.adsbygoogle || []).push({});

		</script>
		<br/>
		<div class="full block-large main-subj-cars" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/P90251015-highRes-a-new-era-new-bmw-g-7694-default-large.jpeg');">
			<a href="/ww/news/bmw-plans-to-launch-40-new-and-revised-models-by-2019">
			<div class="block-text">
				<div class="block-heading">
					BMW Plans to Launch 40 New and Revised Models By 2019
				</div>
			</div> </a>
		</div>
		<div class="carousel fadein">
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/803e2fcf-2825-default-medium.jpeg');">
					<a href="https://riders.drivemag.com/ww/news/increased-motorcycle-comfort-for-less-than-100"></a>
				</div>
				<div class="block-heading">
					<a href="https://riders.drivemag.com/ww/news/increased-motorcycle-comfort-for-less-than-100"> Increased Motorcycle Comfort for Less Than $100 </a>
				</div>
				<div class="block-caption">
					<a href="https://riders.drivemag.com/ww/news/increased-motorcycle-comfort-for-less-than-100"> Raise your bike’s comfort levels with five cheap add-ons </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/Ducati-Supersport-S-Test-Ride13-8081-default-medium.jpeg');">
					<a href="https://riders.drivemag.com/ww/news/ducati-supersport-s-road-test-real-world-sportbiking"></a>
				</div>
				<div class="block-heading">
					<a href="https://riders.drivemag.com/ww/news/ducati-supersport-s-road-test-real-world-sportbiking"> Ducati Supersport S Road Test: Real World Sportbiking </a>
				</div>
				<div class="block-caption">
					<a href="https://riders.drivemag.com/ww/news/ducati-supersport-s-road-test-real-world-sportbiking"> Ducati introduces a standalone real world sporting motorcycle done right </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/BMW-R1200GSA-3169-default-medium.jpeg');">
					<a href="https://riders.drivemag.com/ww/news/new-bmw-r1200gs-adventure-is-on-the-way"></a>
				</div>
				<div class="block-heading">
					<a href="https://riders.drivemag.com/ww/news/new-bmw-r1200gs-adventure-is-on-the-way"> New BMW R1200GS Adventure is On The Way </a>
				</div>
				<div class="block-caption">
					<a href="https://riders.drivemag.com/ww/news/new-bmw-r1200gs-adventure-is-on-the-way"> We might see the new version of the big R1200GS in early November at the EICMA </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/dakar-2018-9340-default-medium.jpeg');">
					<a href="https://riders.drivemag.com/ww/news/dakar-2018-peru-joins-the-club"></a>
				</div>
				<div class="block-heading">
					<a href="https://riders.drivemag.com/ww/news/dakar-2018-peru-joins-the-club"> Dakar 2018: Peru Joins the Club </a>
				</div>
				<div class="block-caption">
					<a href="https://riders.drivemag.com/ww/news/dakar-2018-peru-joins-the-club"> The 40th edition will take place between 6th and 20th of January. </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/internal-combustion-slow-mo-4679-default-medium.png');">
					<a href="https://riders.drivemag.com/ww/news/watch-engine-combustion-in-4k-slow-motion"></a>
				</div>
				<div class="block-heading">
					<a href="https://riders.drivemag.com/ww/news/watch-engine-combustion-in-4k-slow-motion"> Watch Engine Combustion in 4K Slow Motion </a>
				</div>
				<div class="block-caption">
					<a href="https://riders.drivemag.com/ww/news/watch-engine-combustion-in-4k-slow-motion"> Amazing video showing how a four-stroke engine works and what’s happening inside the cylinder </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/17409611-10154946198515999-1793460701-n-6812-default-medium.jpeg');">
					<a href="https://riders.drivemag.com/ww/news/bmw-s1000rr-stock-vs-leovince-full-exhaust-video"></a>
				</div>
				<div class="block-heading">
					<a href="https://riders.drivemag.com/ww/news/bmw-s1000rr-stock-vs-leovince-full-exhaust-video"> BMW S1000RR Stock VS LeoVince Full Exhaust VIDEO </a>
				</div>
				<div class="block-caption">
					<a href="https://riders.drivemag.com/ww/news/bmw-s1000rr-stock-vs-leovince-full-exhaust-video"> How to mount a full-racing exhaust </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/37/thumb_36912_default_medium.png');">
					<a href="https://riders.drivemag.com/ww/news/bmw-r1200gs-vs-car-crash-test"></a>
				</div>
				<div class="block-heading">
					<a href="https://riders.drivemag.com/ww/news/bmw-r1200gs-vs-car-crash-test"> BMW R1200GS vs. Car - Crash Test </a>
				</div>
				<div class="block-caption">
					<a href="https://riders.drivemag.com/ww/news/bmw-r1200gs-vs-car-crash-test"> Just look at that crash test dummy’s head. But, of course, it had an airbag suit </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/37/thumb_36868_default_medium.jpeg');">
					<a href="https://riders.drivemag.com/ww/news/adventure-ride-in-kazakhstan-on-suzuki-dr650"></a>
				</div>
				<div class="block-heading">
					<a href="https://riders.drivemag.com/ww/news/adventure-ride-in-kazakhstan-on-suzuki-dr650"> Adventure Ride in Kazakhstan on Suzuki DR650 </a>
				</div>
				<div class="block-caption">
					<a href="https://riders.drivemag.com/ww/news/adventure-ride-in-kazakhstan-on-suzuki-dr650"> After sleeping in the middle of nowhere we visit the shiny Astana and pass the Great Steppe from North to South </a>
				</div>
			</div>
		</div>
		<div class="full block-large main-subj-cars" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/Opel-Insignia-Country-Tourer-001-3798-default-large.jpeg');">
			<a href="/ww/news/opel-insigna-country-tourer-spied-for-the-first-time">
			<div class="block-text">
				<div class="block-heading">
					Opel Insigna Country Tourer Spied for the First Time
				</div>
			</div> </a>
		</div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-7224066931192686" data-ad-slot="4238444051" data-ad-format="auto"></ins>
		<script>
			( adsbygoogle = window.adsbygoogle || []).push({});

		</script>
		<br/>
		<div class="full block-large main-subj-cars" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/Screen-Shot-2017-03-24-at-3-53-32-PM-1416-default-large.png');">
			<a href="/ww/news/guy-tries-neck-breaking-barrel-roll-in-small-off-roader">
			<div class="block-text">
				<div class="block-heading">
					Guy Tries Neck-Breaking Barrel Roll in Small Off-Roader
				</div>
			</div> </a>
		</div>
		<div class="carousel fadein">
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/04/thumb_3544_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/volkswagen-golf-mk6-a6-typ-5k-review-problems-specs"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/volkswagen-golf-mk6-a6-typ-5k-review-problems-specs"> Volkswagen Golf Mk6 (A6, Typ 5K) review, problems, specs </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/volkswagen-golf-mk6-a6-typ-5k-review-problems-specs"> VOLKSWAGEN GOLF </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/33/thumb_32125_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/nissan-qashqai-j11-2013-present-review-problems-and-specs"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/nissan-qashqai-j11-2013-present-review-problems-and-specs"> Nissan Qashqai J11 (2013-present): Review, Problems, and Specs </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/nissan-qashqai-j11-2013-present-review-problems-and-specs"> NISSAN QASHQAI </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/10/thumb_9167_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/skoda-fabia-nj-2014-present-review-problems-specs"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/skoda-fabia-nj-2014-present-review-problems-specs"> Skoda Fabia NJ (2014-present): Review, Problems, Specs </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/skoda-fabia-nj-2014-present-review-problems-specs"> SKODA FABIA </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/04/thumb_3639_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/volkswagen-passat-b7-review-problems-specs"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/volkswagen-passat-b7-review-problems-specs"> Volkswagen Passat (B7) review, problems, specs </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/volkswagen-passat-b7-review-problems-specs"> VOLKSWAGEN PASSAT </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/09/thumb_8086_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/ford-focus-2010-present-review-problems-specs"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/ford-focus-2010-present-review-problems-specs"> Ford Focus (2010 - present): Review, Problems, Specs </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/ford-focus-2010-present-review-problems-specs"> FORD FOCUS </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/32/thumb_31202_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/hyundai-sonata-lf-2014-present-review-problems-and-specs"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/hyundai-sonata-lf-2014-present-review-problems-and-specs"> Hyundai Sonata LF (2014-present): Review, Problems, and Specs </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/hyundai-sonata-lf-2014-present-review-problems-and-specs"> HYUNDAI SONATA </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/30/thumb_29334_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/honda-cr-v-rm-2011-2016-review-problems-and-specs"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/honda-cr-v-rm-2011-2016-review-problems-and-specs"> Honda CR-V RM (2011-2016): Review, Problems, and Specs </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/honda-cr-v-rm-2011-2016-review-problems-and-specs"> HONDA CR-V </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/32/thumb_31238_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/ford-mustang-2005-2013-review-specs-problems"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/ford-mustang-2005-2013-review-specs-problems"> Ford Mustang (2005 - 2013): Review, Specs, Problems </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/ford-mustang-2005-2013-review-specs-problems"> FORD MUSTANG </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/30/thumb_29820_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/hyundai-elantra-ud-jk-2010-2016-review-problems-and-specs"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/hyundai-elantra-ud-jk-2010-2016-review-problems-and-specs"> Hyundai Elantra UD/JK (2010-2016): Review, Problems, and Specs </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/hyundai-elantra-ud-jk-2010-2016-review-problems-and-specs"> HYUNDAI ELANTRA </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/31/thumb_30895_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/car-file/toyota-corolla-e170-2013-present-review-specs-problems"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/car-file/toyota-corolla-e170-2013-present-review-specs-problems"> Toyota Corolla E170 (2013-present): review, specs, problems </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/car-file/toyota-corolla-e170-2013-present-review-specs-problems"> TOYOTA COROLLA </a>
				</div>
			</div>
		</div>
		<div class="full block-large main-subj-cars" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/mercedes-cls-01-6489-default-large.jpeg');">
			<a href="/ww/news/future-mercedes-cls-spied-during-final-testing">
			<div class="block-text">
				<div class="block-heading">
					Future Mercedes CLS Spied During Final Testing
				</div>
			</div> </a>
		</div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-7224066931192686" data-ad-slot="4238444051" data-ad-format="auto"></ins>
		<script>
			( adsbygoogle = window.adsbygoogle || []).push({});

		</script>
		<br/>
		<div class="full block-large main-subj-cars" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/Screen-Shot-2017-03-24-at-3-11-21-PM-copy-9598-default-large.jpeg');">
			<a href="/ww/news/new-turbocharged-honda-civic-sounds-much-better-than-fk2-don-t-you-agree">
			<div class="block-text">
				<div class="block-heading">
					New Turbocharged Honda Civic Sounds Much Better Than FK2, Don&#039;t You Agree?
				</div>
			</div> </a>
		</div>
		<div class="carousel fadein">
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/35/thumb_34854_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/news/4matic-xdrive-quattro-fun-comes-in-different-flavors-or-does-it"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/news/4matic-xdrive-quattro-fun-comes-in-different-flavors-or-does-it"> 4Matic, xDrive, quattro - Fun Comes in Different Flavors. Or Does It? </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/news/4matic-xdrive-quattro-fun-comes-in-different-flavors-or-does-it"> A moderately epic adventure into Romania’s snowy mountains </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/2017-BMW-530d-xDrive-Luxury-Line-exterior-43-8838-default-medium.jpeg');">
					<a href="https://drivemag.com/ww/testdrive/2017-bmw-530d-xdrive-luxury-line-test-drive-bavaria-strikes-back"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/testdrive/2017-bmw-530d-xdrive-luxury-line-test-drive-bavaria-strikes-back"> 2017 BMW 530d xDrive Luxury Line Test Drive: Bavaria Strikes Back </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/testdrive/2017-bmw-530d-xdrive-luxury-line-test-drive-bavaria-strikes-back"> The all-new, G30 BMW 5 Series has some big shoes to fill. Its predecessor, the F10/F11 5 Series, has been widely acclaimed as the best in the segment, and the new one faces fierce competition from Mercedes&#039; excellent W213 E-Class and the Jaguar XF, to mention only its newest rivals.
					Just like the E-Class borrows styling and gadgets from the S-Class, the new 5 Series takes inspiration from the 7 Series when it comes to design and technology. The 5 Series sedan looks like a slightly smaller 7 Series but has more harmonious proportions. While BMW designers did not experiment a lot with the exterior and interior styling, they managed to make it instantly recognizable as a 5 Series. And that matters a lot to traditional buyers.
					And then there&#039;s the technology. The new 5 Series can be equipped with almost as many driving and safety assist systems (not to mention creature comforts and gadgets) as the 7 Series. But the thing I am most curious about is how the G30 drives: does it remain the most fun to drive executive sedan? Time to find out.
					Photos: Andrei Nedelea </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/35/thumb_34805_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/testdrive/2017-audi-a5-coupe-2-0-tfsi-quattro-test-drive-true-to-form"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/testdrive/2017-audi-a5-coupe-2-0-tfsi-quattro-test-drive-true-to-form"> 2017 Audi A5 Coupé 2.0 TFSI quattro Test Drive: True to Form </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/testdrive/2017-audi-a5-coupe-2-0-tfsi-quattro-test-drive-true-to-form"> There are almost no surprises with the brand new A5, and this is exactly what Audi-faithful customers are expecting. Ingolstadt doesn&#039;t care about the &quot;new me&quot; game most of the car manufacturers are playing nowadays. All Ingolstadt cares about is Vorsprung Durch Technik. And it does a good job opposing radical change, although there&#039;s a risk involved. </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/35/thumb_34001_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/testdrive/2017-mercedes-glc-250d-4matic-test-drive-well-weighted-wafter"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/testdrive/2017-mercedes-glc-250d-4matic-test-drive-well-weighted-wafter"> 2017 Mercedes GLC 250d 4Matic Test Drive - Well Weighted Wafter </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/testdrive/2017-mercedes-glc-250d-4matic-test-drive-well-weighted-wafter"> Mercedes decided for a change of direction for its compact exec-based crossover, the GLC, a major styling departure from the GLK it replaces. However, it’s also bigger inside and more upmarket feeling, and it also improves ride comfort over its predecessor as well.
					The GLC kicks off here at just under €46,000, but the well equipped 250d tester we tried came in at €65,472.
					What e appreciated most about it was the supreme ride comfort provided, helped undoubtedly by the optional air suspension and chunky winter tires on smaller rims.
					It feels like a high quality product not just through its interior ambiance, but also through the way everything is made really easy and convenient for the driver. The dash design is pleasant and in line with the rest of the range, and there’s an effortlessness about living with it.
					It also looks properly premium and quite handsome in the metal from most angles, although the rear end is a bit bland and uninspiring compared to the stylish front. </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/35/thumb_34392_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/testdrive/2017-bmw-x1-xdrive18d-xline-test-drive-x1-marks-the-sweet-market-spot"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/testdrive/2017-bmw-x1-xdrive18d-xline-test-drive-x1-marks-the-sweet-market-spot"> 2017 BMW X1 xDrive18d xLine Test Drive: X1 Marks the Sweet Market Spot </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/testdrive/2017-bmw-x1-xdrive18d-xline-test-drive-x1-marks-the-sweet-market-spot"> The second-generation BMW X1 marks an important moment for the brand&#039;s SUV lineup: it&#039;s the first crossover based on a front-wheel-drive platform with transversely mounted engines - the UKL2 architecture shared with the BMW 2 Series Active Tourer/Grand Tourer, MINI Countryman, and MINI Clubman. It comes both with FWD and AWD (like the X1 xDrive18d model I drove), and by now you&#039;re probably wondering whether it still feels like a traditional BMW to drive.
					Well, not exactly, as I&#039;ll elaborate later on, but that&#039;s not necessarily a bad thing. You see, SUV customers are not exactly driving fanatics, which is why it makes sense for BMW to offer an X1 that puts practicality first. After all, Mercedes-Benz has done the same thing for its compact model family.
					The more efficient packaging made possible by the transversely-mounted engine results in a significantly roomier interior compared to the previous X1 and a minimal loss of driving pleasure.
					Yes, the first-generation X1 was more fun to drive because it was essentially a slightly taller 3 Series Touring available in either rear-wheel-drive or all-wheel-drive configurations (the latter obviously rear-biased). But that doesn&#039;t mean you&#039;ll be bored behind the wheel of the new X1: it&#039;s the segment&#039;s most fun to drive SUV based on a front-wheel-drive platform. </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/34/thumb_33323_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/testdrive/2017-skoda-octavia-combi-2-0-tdi-dsg7-4x4-test-drive-the-elephant-in-the-room"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/testdrive/2017-skoda-octavia-combi-2-0-tdi-dsg7-4x4-test-drive-the-elephant-in-the-room"> 2017 Skoda Octavia Combi 2.0 TDI DSG7 4x4 Test Drive - The Elephant in the Room </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/testdrive/2017-skoda-octavia-combi-2-0-tdi-dsg7-4x4-test-drive-the-elephant-in-the-room"> One of the best-selling cars in Europe has reached its mid-cycle refresh. We are talking about Skoda Octavia, the practical liftback and estate from the Czech Republic.
					But the facelift has provoked quite a stir. The classical look has been ditched in favor of a striking four-headlight new front fascia that is reminiscent of the W212 Mercedes-Benz E-Class. A lot of the fans have dubbed the new design plain &quot;ugly&quot;.
					But it&#039;s not all bad. The car looks much better in real life than in the press photos. And it goes a little bit better than before as well. </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/31/thumb_30593_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/testdrive/2016-mazda-mx-5-rf-test-drive-still-sharp"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/testdrive/2016-mazda-mx-5-rf-test-drive-still-sharp"> 2016 Mazda MX-5 RF Test Drive. Still sharp </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/testdrive/2016-mazda-mx-5-rf-test-drive-still-sharp"> Mazda has added a new version to the MX-5 named the RF. It is the targa-like version, with an electrically folding hard-top. By the way the RF moniker stands for Retractable Fastback.
					It&#039;s hard to imagine who would like something other than a standard soft-top MX-5, but Mazda says there is a market for a more posh MX-5.
					The RF also comes with an automatic gearbox, mated with the 2.0-liter 160 PS engine. And this is a first for the current fourth-gen Mazda MX-5.
					Despite gaining 45 kilos, the MX-5 is still scalpel-sharp. It feels like the same lightweight, well-balanced roadster that we all love. </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/29/thumb_28648_default_medium.jpeg');">
					<a href="https://drivemag.com/ww/testdrive/2016-peugeot-3008-test-drive-metamorphosis"></a>
				</div>
				<div class="block-heading">
					<a href="https://drivemag.com/ww/testdrive/2016-peugeot-3008-test-drive-metamorphosis"> 2016 Peugeot 3008 Test Drive. Metamorphosis </a>
				</div>
				<div class="block-caption">
					<a href="https://drivemag.com/ww/testdrive/2016-peugeot-3008-test-drive-metamorphosis"> Peugeot goes where the money is, having planned to tackle the crossover-SUV segment aggressively in the next years. And the indefinable-vehicle-now-turned-SUV 3008 is the first fine example of Peugeot’s strategy. </a>
				</div>
			</div>
		</div>
	</div>
	
	<div id="right-column" class="all-blocks col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<div class="social-network center">
			<div class="social-fb">
				<a title="Facebook" href="https://www.facebook.com/DriveMagCom/"></a>
			</div>
			<div class="social-tw">
				<a title="Twitter" href="https://twitter.com/DriveMagCom/"></a>
			</div>
			<div class="social-yt">
				<a title="Youtube" href="https://www.youtube.com/c/DriveMagCars"></a>
			</div>
			<div class="social-ig">
				<a title="Instagram" href="https://www.instagram.com/DriveMagCom/"></a>
			</div>
			<div class="social-tm">
				<a title="Tumblr" href="http://drivemagcom.tumblr.com/"></a>
			</div>
		</div>
		<div id="feat-video" class="block-panel">
			<ul id="feat-video-list">
				<li>
					<div class="result-img ratio" style="background-image: url('https://i.ytimg.com/vi/3A2nQX9779Y/maxresdefault.jpg');">
						<span class="video-thumb-duration">1:53</span>
						<a href="/ww/video/bmw-xdrive-testing-in-the-mud"></a>
					</div>
					<div class="result-text">
						<a href="/ww/video/bmw-xdrive-testing-in-the-mud">
						<div class="result-heading">
							<h6>BMW xDrive testing in the mud</h6>
						</div> </a>
					</div>
				</li>
				<li>
					<div class="result-img ratio" style="background-image: url('https://i.ytimg.com/vi/cXv1B516nzA/maxresdefault.jpg');">
						<span class="video-thumb-duration">1:21</span>
						<a href="/ww/video/2017-opel-insignia-grand-sport-and-sports-tourer-first-contact-review"></a>
					</div>
					<div class="result-text">
						<a href="/ww/video/2017-opel-insignia-grand-sport-and-sports-tourer-first-contact-review">
						<div class="result-heading">
							<h6>2017 Opel Insignia Grand Sport and Sports Tourer first contact review</h6>
						</div> </a>
					</div>
				</li>
				<li>
					<div class="result-img ratio" style="background-image: url('https://i.ytimg.com/vi/E4PqWAl3T6U/maxresdefault.jpg');">
						<span class="video-thumb-duration">4:49</span>
						<a href="/ww/video/10-tips-that-will-improve-your-car-s-fuel-economy-for-free"></a>
					</div>
					<div class="result-text">
						<a href="/ww/video/10-tips-that-will-improve-your-car-s-fuel-economy-for-free">
						<div class="result-heading">
							<h6>10 tips that will improve your car&#039;s fuel economy for free</h6>
						</div> </a>
					</div>
				</li>
			</ul>
			<div class="center">
				<a href="/ww/videos" class="btn-default full block">More Videos</a>
			</div>
		</div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-7224066931192686" data-ad-slot="4238444051" data-ad-format="auto"></ins>
		<script>
			( adsbygoogle = window.adsbygoogle || []).push({});

		</script>
		<br/>
		<div class="carousel-tiny fadein">
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/Next-generation-Opel-Corsa-spied-1-9519-default-medium.jpeg');">
					<a href="/ww/news/2018-opel-vauxhall-corsa-f-spied-inside-for-the-first-time"></a>
				</div>
				<div class="block-heading">
					<a href="/ww/news/2018-opel-vauxhall-corsa-f-spied-inside-for-the-first-time"> 2018 Opel/Vauxhall Corsa F Spied Inside for the First Time </a>
				</div>
				<div class="block-caption">
					<a href="/ww/news/2018-opel-vauxhall-corsa-f-spied-inside-for-the-first-time"> At last, a truly all-new Corsa </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/t-roc-1414-default-medium.jpeg');">
					<a href="/ww/news/vw-s-sub-tiguan-crossover-surfaces-online-1"></a>
				</div>
				<div class="block-heading">
					<a href="/ww/news/vw-s-sub-tiguan-crossover-surfaces-online-1"> VW’s Sub-Tiguan Crossover Surfaces Online </a>
				</div>
				<div class="block-caption">
					<a href="/ww/news/vw-s-sub-tiguan-crossover-surfaces-online-1"> Will basically be a jacked up Polo with more rugged design details that may be called T-Roc </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/433cf150197617-58c9d397c038a-5760-default-medium.jpeg');">
					<a href="/ww/news/bmw-m2-csl-isn-t-real-but-if-it-was-it-d-look-like-this"></a>
				</div>
				<div class="block-heading">
					<a href="/ww/news/bmw-m2-csl-isn-t-real-but-if-it-was-it-d-look-like-this"> BMW M2 CSL Isn&#039;t Real, But if It Was It&#039;d Look Like This </a>
				</div>
				<div class="block-caption">
					<a href="/ww/news/bmw-m2-csl-isn-t-real-but-if-it-was-it-d-look-like-this"> We absolutely love it, right down to the last stripe of its livery </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/opening-4416-default-medium.jpeg');">
					<a href="/ww/news/don-t-kill-the-diesel-rudolf-s-idea-is-just-too-brilliant-to-let-pass"></a>
				</div>
				<div class="block-heading">
					<a href="/ww/news/don-t-kill-the-diesel-rudolf-s-idea-is-just-too-brilliant-to-let-pass"> Don’t Kill the Diesel, Rudolf’s Idea Is Just Too Brilliant to Let Pass </a>
				</div>
				<div class="block-caption">
					<a href="/ww/news/don-t-kill-the-diesel-rudolf-s-idea-is-just-too-brilliant-to-let-pass"> It would be a premature death of an idea whose potential has not been fully exploited </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/opening-1690-default-medium.jpeg');">
					<a href="/ww/news/vw-unwillingly-shows-next-polo-and-touareg"></a>
				</div>
				<div class="block-heading">
					<a href="/ww/news/vw-unwillingly-shows-next-polo-and-touareg"> VW Unwillingly Shows Next Polo and Touareg </a>
				</div>
				<div class="block-caption">
					<a href="/ww/news/vw-unwillingly-shows-next-polo-and-touareg"> And no, neither design is revolutionary in any way... </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/thumb_37118_default_medium.jpeg');">
					<a href="/ww/news/volvo-to-tap-into-fast-growing-compact-suv-segment-with-funky-xc40"></a>
				</div>
				<div class="block-heading">
					<a href="/ww/news/volvo-to-tap-into-fast-growing-compact-suv-segment-with-funky-xc40"> Volvo to Tap into Fast-Growing Compact SUV Segment with Funky XC40 </a>
				</div>
				<div class="block-caption">
					<a href="/ww/news/volvo-to-tap-into-fast-growing-compact-suv-segment-with-funky-xc40"> The all-new model is expected to debut in autumn 2017 </a>
				</div>
			</div>
			<div class="block-carousel">
				<div class="block-img" style="background-image: url('https://cdn.drivemag.net/media/default/0001/38/VW-Golf-Mk8-rendered-1-5072-default-medium.jpeg');">
					<a href="/ww/news/all-new-vw-golf-mk8-arriving-in-2019-with-3-cylinder-diesels-more-tech-than-ever"></a>
				</div>
				<div class="block-heading">
					<a href="/ww/news/all-new-vw-golf-mk8-arriving-in-2019-with-3-cylinder-diesels-more-tech-than-ever"> All-New VW Golf Mk8 Arriving in 2019 with 3-Cylinder Diesels, More Tech Than Ever </a>
				</div>
				<div class="block-caption">
					<a href="/ww/news/all-new-vw-golf-mk8-arriving-in-2019-with-3-cylinder-diesels-more-tech-than-ever"> The only thing that won&#039;t change is the familiar shape </a>
				</div>
			</div>
		</div>
	</div>
</div>
-->